<section class="hp-history">
  <div class="container">
    <h6 class="h1 mb-10">HISTORIE KLUBU</h6>
    <div class="hp-history__inner">
      <div class="hp-history__item">
        <div class="hp-history__img">
          <img src="images/content/bb.jpeg" loading="lazy" alt="" />
        </div>
        <div class="hp-history__info">
          <div class="post__bottom-right mb-4">
            <div class="tag">ROZHOVOR</div>
            <span>ÚT 16. 8. 2022</span>
          </div>
          <div class="h5 mb-8">
            Brankářský post je kompletní. Čtvrtou sezónu u Orlů přidá Dominik
            Groh
          </div>
          <a href="#" class="btn">ČÍST VÍCE </a>
        </div>
      </div>
      <div class="hp-history__item">
        <div class="hp-history__img">
          <img src="images/content/history-2.jpeg" loading="lazy" alt="" />
        </div>
        <div class="hp-history__info">
          <div class="post__bottom-right mb-4">
            <div class="tag">Historie</div>
            <span>ÚT 16. 8. 2022</span>
          </div>
          <div class="h5 mb-8">Počátky hokeje ve městě nad Dyjí</div>
          <a href="#" class="btn">ČÍST VÍCE </a>
        </div>
      </div>
    </div>
  </div>
</section>
