.hp-history {
  margin-bottom: 110px;
  @include media-breakpoint-down(xl) {
    margin-bottom: 40px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
  .slick-dots {
    width: 100%;
    bottom: 0;
    margin-top: 32px;
  }
  &__btn {
    position: absolute;
    background-color: var(--color-light);
    border-radius: 6px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.09);

    width: 54px;
    height: 54px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 34%;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s;
    &:hover {
      background-color: var(--color-primary);
      svg g {
        fill: #fff;
      }
    }
    img {
      width: 16px;
      height: 26px;
      object-fit: contain;
    }
  }
  &__btnprev {
    left: -65px;
    @media (max-width: 1580px) {
      left: 0px;
    }
    @media (max-width: 800px) {
      top: 25%;
    }
  }
  &__btnnext {
    right: -65px;
    @media (max-width: 1580px) {
      right: 0;
    }
    @media (max-width: 800px) {
      top: 25%;
    }
  }
  &__item {
    padding: 0 16px;
    flex: 0 0 auto;
    width: 100%;
    @media (max-width: 1480px) {
    }
    @include media-breakpoint-down(xxl) {
      max-width: 100%;
      width: 100%;
    }
    @media (max-width: 641px) {
      padding: 0;
    }
  }
  &__info {
    padding-left: 48px;
    padding-right: 24px;
    @include media-breakpoint-down(lg) {
      padding-left: 24px;
      padding-right: 24px;
    }
    .tag {
      background-color: var(--color-light) !important;
    }
    .btn {
      max-width: 320px;
    }
  }
  &__img {
    padding: 10px;
    position: relative;
    background-color: var(--color-light);
    border-radius: 6px;
    margin-bottom: 32px;
    aspect-ratio: 1023/582;
    @include media-breakpoint-down(xl) {
      aspect-ratio: 1160/640;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      object-fit: cover;
    }
    span {
      position: absolute;
      bottom: 72px;
      display: block;
      padding: 0 54px;
      color: var(--color-primary);
      @include media-breakpoint-down(md) {
        position: relative;
        bottom: 0;
        margin: 24px 0;
        padding: 0;
      }
    }
  }
}
