<section class="hp-history">
  <div class="container">
    <h6 class="h1 mb-10">HISTORIE KLUBU</h6>
    <div class="row">
      <div class="col-xl-9">
        <div class="hp-history__item hp-history__item-big">
          <div class="hp-history__img">
            <img
              src="https://via.placeholder.com/1023x582"
              loading="lazy"
              alt=""
            />
            <span class="h1">ZNOJEMSKÝ HOKEJ 1933 - 2022</span>
          </div>
          <div class="hp-history__info">
            <div class="post__bottom-right mb-4">
              <div class="tag">ROZHOVOR</div>
              <span>ÚT 16. 8. 2022</span>
            </div>
            <div class="h5 mb-10">
              Brankářský post je kompletní. Čtvrtou sezónu u Orlů přidá Dominik
              Groh
            </div>
            <a href="#" class="btn">ČÍST VÍCE </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3">
        <div class="hp-history__item">
          <div class="hp-history__img">
            <img
              src="https://via.placeholder.com/301x561"
              loading="lazy"
              alt=""
            />
          </div>
          <div class="hp-history__info">
            <div class="post__bottom-right mb-4">
              <div class="tag">ROZHOVOR</div>
              <span>ÚT 16. 8. 2022</span>
            </div>
            <div class="h5 mb-10">
              Brankářský post je kompletní. Čtvrtou sezónu u Orlů přidá Dominik
              Groh
            </div>
            <a href="#" class="btn">ČÍST VÍCE </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
