<section class="posts-slider">
  <div class="container">
    <div class="posts-slider__inner">
      <div class="posts-slider__col">
        <div class="posts-slider__item">
          <a href="#" class="posts-slider__img">
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <span>ČÍST VÍCE</span>
          </a>
          <div class="posts-slider__info">
            <div class="h4">
              Staň se hokejovým rozhodčím! Český hokej spouští náborovou kampaň
              I ty můžeš pískat hokej
            </div>
            <div class="post__bottom">
              <a href="#" class="post__more"> ČÍST VÍCE </a>
              <div class="post__bottom-right">
                <div class="tag">ROZHOVOR</div>
                <span>ÚT 16. 8. 2022</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="posts-slider__col">
        <div class="posts-slider__item">
          <a href="#" class="posts-slider__img">
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <span>ČÍST VÍCE</span>
          </a>
          <div class="posts-slider__info">
            <div class="h4">
              Staň se hokejovým rozhodčím! Český hokej spouští náborovou kampaň
              I ty můžeš pískat hokej
            </div>
            <div class="post__bottom">
              <a href="#" class="post__more"> ČÍST VÍCE </a>
              <div class="post__bottom-right">
                <div class="tag">ROZHOVOR</div>
                <span>ÚT 16. 8. 2022</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="posts-slider__col">
        <div class="posts-slider__item">
          <a href="#" class="posts-slider__img">
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <span>ČÍST VÍCE</span>
          </a>
          <div class="posts-slider__info">
            <div class="h4">
              Staň se hokejovým rozhodčím! Český hokej spouští náborovou kampaň
              I ty můžeš pískat hokej
            </div>
            <div class="post__bottom">
              <a href="#" class="post__more"> ČÍST VÍCE </a>
              <div class="post__bottom-right">
                <div class="tag">ROZHOVOR</div>
                <span>ÚT 16. 8. 2022</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="posts-slider__col">
         <div class="posts-slider__item">
           <a href="#" class="posts-slider__img">
             <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
             <span>ČÍST VÍCE</span>
           </a>
           <div class="posts-slider__info">
             <div class="h4">
               Staň se hokejovým rozhodčím! Český hokej spouští náborovou kampaň
               I ty můžeš pískat hokej
             </div>
             <div class="post__bottom">
               <a href="#" class="post__more"> ČÍST VÍCE </a>
               <div class="post__bottom-right">
                 <div class="tag">ROZHOVOR</div>
                 <span>ÚT 16. 8. 2022</span>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="posts-slider__col">
         <div class="posts-slider__item">
           <a href="#" class="posts-slider__img">
             <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
             <span>ČÍST VÍCE</span>
           </a>
           <div class="posts-slider__info">
             <div class="h4">
               Staň se hokejovým rozhodčím! Český hokej spouští náborovou kampaň
               I ty můžeš pískat hokej
             </div>
             <div class="post__bottom">
               <a href="#" class="post__more"> ČÍST VÍCE </a>
               <div class="post__bottom-right">
                 <div class="tag">ROZHOVOR</div>
                 <span>ÚT 16. 8. 2022</span>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="posts-slider__col">
         <div class="posts-slider__item">
           <a href="#" class="posts-slider__img">
             <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
             <span>ČÍST VÍCE</span>
           </a>
           <div class="posts-slider__info">
             <div class="h4">
               Staň se hokejovým rozhodčím! Český hokej spouští náborovou kampaň
               I ty můžeš pískat hokej
             </div>
             <div class="post__bottom">
               <a href="#" class="post__more"> ČÍST VÍCE </a>
               <div class="post__bottom-right">
                 <div class="tag">ROZHOVOR</div>
                 <span>ÚT 16. 8. 2022</span>
               </div>
             </div>
           </div>
         </div>
       </div>
    </div>
    <a href="#" class="btn btn-light">VŠECHNY ČLÁNKY</a>
  </div>
</section>
