<section class="hp-infoboard">
  <div class="container">
    <div class="row g-9">
      <div class="col-xl-3 col-md-6">
        <div class="hp-infoboard__news">
          <h3 class="h4 text-gray text-uppercase mb-4">KRÁtkÉ ZPRÁVY</h3>
          <div class="hp-infoboard__col">
            <div class="hp-infoboard__slider">
              <div class="hp-infoboard__slider-item">
                <div class="hp-infoboard__news-top">19. 7. 2022</div>
                <div class="hp-infoboard__news-title">
                  Nové kluby pro ex-Orly
                </div>
                <div class="hp-infoboard__news-bottom">
                  <p class="p2">
                    Další z bývalých znojemských hokejistů si našli nová
                    angažmá. Anthony Luciani míří do švédského Södertälje, Tor
                    Immo do německého Freiburgu, Josh Brittain do Cardiffu v
                    Anglii, Michal Kvasnica do finského FPS a Ilya Zubov bude
                    hrát ve Francii v klubu Anglet.
                  </p>
                  <a href="#" class="btn btn-dark">VŠECHNY ZPRÁVY</a>
                </div>
              </div>
              <div class="hp-infoboard__slider-item">
                <div class="hp-infoboard__news-top">19. 7. 2022</div>
                <div class="hp-infoboard__news-title">
                  Nové kluby pro ex-Orly
                </div>
                <div class="hp-infoboard__news-bottom">
                  <p class="p2">
                    Další z bývalých znojemských hokejistů si našli nová
                    angažmá. Anthony Luciani míří do švédského Södertälje, Tor
                    Immo do německého Freiburgu, Josh Brittain do Cardiffu v
                    Anglii, Michal Kvasnica do finského FPS a Ilya Zubov bude
                    hrát ve Francii v klubu Anglet.
                  </p>
                  <a href="#" class="btn btn-dark">VŠECHNY ZPRÁVY</a>
                </div>
              </div>
              <div class="hp-infoboard__slider-item">
                <div class="hp-infoboard__news-top">19. 7. 2022</div>
                <div class="hp-infoboard__news-title">
                  Nové kluby pro ex-Orly
                </div>
                <div class="hp-infoboard__news-bottom">
                  <p class="p2">
                    Další z bývalých znojemských hokejistů si našli nová
                    angažmá. Anthony Luciani míří do švédského Södertälje, Tor
                    Immo do německého Freiburgu, Josh Brittain do Cardiffu v
                    Anglii, Michal Kvasnica do finského FPS a Ilya Zubov bude
                    hrát ve Francii v klubu Anglet.
                  </p>
                  <a href="#" class="btn btn-dark">VŠECHNY ZPRÁVY</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 order-xl-0 order-1">
        <h3 class="h4 text-center text-gray text-uppercase mb-4">
          POSLEDNÍ ZÁPAS
        </h3>
        <div class="hp-infoboard__col">
          <div class="hp-infoboard__match">
            <div class="hp-infoboard__match-date h5 text-center">
              ICE Hockey League - ne 3. 10. 2021
            </div>
            <div class="bg-gray">
              <div class="hp-infoboard__match-time">6. kolo</div>
              <div class="row align-items-center pb-4">
                <div class="col-6 col-sm-6 col-lg-4 col-xl-5">
                  <div class="row align-items-center justify-content-end">
                    <div class="d-none d-sm-block col-8">
                      <div
                        class="hp-infoboard__match-team hp-infoboard__match-team--home"
                      >
                        Znojmo
                      </div>
                    </div>
                    <div class="col-12 col-sm-4">
                      <div class="hp-infoboard__match-logo">
                        <img src="images/content/logo.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-12 col-sm-12 col-lg-4 col-xl-2 order-2 order-lg-1"
                >
                  <div class="hp-infoboard__match-score win">0:2</div>
                  <div class="hp-infoboard__match-period">4:1, 0:0, 2:0</div>
                </div>
                <div
                  class="col-6 col-sm-6 col-lg-4 col-xl-5 order-1 order-lg-2"
                >
                  <div class="row align-items-center justify-content-start">
                    <div class="col-12 col-sm-4">
                      <div class="hp-infoboard__match-logo">
                        <img src="images/content/opa.png" alt="" />
                      </div>
                    </div>
                    <div class="d-none d-sm-block col-8">
                      <div class="hp-infoboard__match-team">Opava</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center h4 p-4">
              Skvělý start přípravy! Orli čtyřmi trefami pokořili Třebíč
            </div>
            <div class="hp-infoboard__match-text bg-gray">
              Domácí Třebíč po cenných skalpech extraligových týmů Brna a
              Českých Budějovic narazila. Postarali se o to ve svém prvním
              přípravném utkání znojemští hokejisté. Dvakrát se trefil
              ex-třebíčský Martin Šťovíček, skórovali i Tomáš Svoboda a Jan
              Hruška. Jednatřicet úspěšných zásahů si připsal Dominik Groh.
            </div>
            <a href="#" class="btn btn-dark">VŠE O ZÁPASE</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="hp-infoboard__table">
          <h3 class="h4 text-center text-gray text-uppercase mb-4">TABULKA</h3>
          <div class="hp-infoboard__col">
            <div class="hp-infoboard__table-box">
              <div class="hp-infoboard__table-respons">
                <table>
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>GP</th>
                      <th>GD</th>
                      <th>PTS</th>
                      <th>PTSpG</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td><img src="images/content/opa.png" alt="" /></td>
                      <td>47</td>
                      <td class="text-gray">53</td>
                      <td>96</td>
                      <td class="text-gray">1.959</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td><img src="images/content/opa.png" alt="" /></td>
                      <td>47</td>
                      <td class="text-gray">53</td>
                      <td>96</td>
                      <td class="text-gray">1.959</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td><img src="images/content/logo.png" alt="" /></td>
                      <td>47</td>
                      <td class="text-gray">53</td>
                      <td>96</td>
                      <td class="text-gray">1.959</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td><img src="images/content/opa.png" alt="" /></td>
                      <td>47</td>
                      <td class="text-gray">53</td>
                      <td>96</td>
                      <td class="text-gray">1.959</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a href="#" class="btn btn-dark">KOMPLETNÍ TABULKA</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
