<!-- <section class="hp-fanshop">
  <div class="container">
    <div class="text-center">
      <h5 class="h1 mb-4">NOVINKY VE FANSHOPU</h5>
      <p class="text-primary h5">
        Jediné místo, kde najdete všechno, co potřebujete pro fandění týmu
        vašeho srdce.
      </p>
      <div class="hp-fanshop__slider">
        <div class="hp-fanshop__col">
          <a href="#" class="hp-fanshop__item">
            <div class="hp-fanshop__item-wrap bg-dark-2 text-white">
              <div class="hp-fanshop__item-club">HC Znojmo</div>
              <div class="h5">Authentic Casarano tepláky</div>
              <div class="hp-fanshop__item-img">
                <img src="images/content/nohy.jpeg" loading="lazy" alt="" />
              </div>
            </div>
            <div class="btn">DETAIL</div>
          </a>
        </div>
        <div class="hp-fanshop__col">
          <a href="#" class="hp-fanshop__item">
            <div class="hp-fanshop__item-wrap bg-dark-2 text-white">
              <div class="hp-fanshop__item-club">HC Znojmo</div>
              <div class="h5">Authentic Casarano tepláky</div>
              <div class="hp-fanshop__item-img">
                <img src="images/content/nohy.jpeg" loading="lazy" alt="" />
              </div>
            </div>
            <div class="btn">DETAIL</div>
          </a>
        </div>
        <div class="hp-fanshop__col">
          <a href="#" class="hp-fanshop__item">
            <div class="hp-fanshop__item-wrap bg-white text-dark">
              <div class="hp-fanshop__item-club">HC Znojmo</div>
              <div class="h5">Authentic Casarano tepláky</div>
              <div class="hp-fanshop__item-img">
                <img src="images/content/nohy.jpeg" loading="lazy" alt="" />
              </div>
            </div>
            <div class="btn">DETAIL</div>
          </a>
        </div>
        <div class="hp-fanshop__col">
          <a href="#" class="hp-fanshop__item">
            <div class="hp-fanshop__item-wrap bg-dark-2 text-white">
              <div class="hp-fanshop__item-club">HC Znojmo</div>
              <div class="h5">Authentic Casarano tepláky</div>
              <div class="hp-fanshop__item-img">
                <img src="images/content/nohy.jpeg" loading="lazy" alt="" />
              </div>
            </div>
            <div class="btn">DETAIL</div>
          </a>
        </div>
        <div class="hp-fanshop__col">
          <a href="#" class="hp-fanshop__item">
            <div class="hp-fanshop__item-wrap bg-dark-2 text-white">
              <div class="hp-fanshop__item-club">HC Znojmo</div>
              <div class="h5">Authentic Casarano tepláky</div>
              <div class="hp-fanshop__item-img">
                <img src="images/content/nohy.jpeg" loading="lazy" alt="" />
              </div>
            </div>
            <div class="btn">DETAIL</div>
          </a>
        </div>
        <div class="hp-fanshop__col">
          <a href="#" class="hp-fanshop__item">
            <div class="hp-fanshop__item-wrap bg-dark-2 text-white">
              <div class="hp-fanshop__item-club">HC Znojmo</div>
              <div class="h5">Authentic Casarano tepláky</div>
              <div class="hp-fanshop__item-img">
                <img src="images/content/nohy.jpeg" loading="lazy" alt="" />
              </div>
            </div>
            <div class="btn">DETAIL</div>
          </a>
        </div>
        <div class="hp-fanshop__col">
          <a href="#" class="hp-fanshop__item">
            <div class="hp-fanshop__item-wrap bg-white text-dark">
              <div class="hp-fanshop__item-club">HC Znojmo</div>
              <div class="h5">Authentic Casarano tepláky</div>
              <div class="hp-fanshop__item-img">
                <img src="images/content/nohy.jpeg" loading="lazy" alt="" />
              </div>
            </div>
            <div class="btn">DETAIL</div>
          </a>
        </div>
        <div class="hp-fanshop__col">
          <a href="#" class="hp-fanshop__item">
            <div class="hp-fanshop__item-wrap bg-dark-2 text-white">
              <div class="hp-fanshop__item-club">HC Znojmo</div>
              <div class="h5">Authentic Casarano tepláky</div>
              <div class="hp-fanshop__item-img">
                <img src="images/content/nohy.jpeg" loading="lazy" alt="" />
              </div>
            </div>
            <div class="btn">DETAIL</div>
          </a>
        </div>
      </div>
      <a href="#" class="btn">FANSHOP</a>
    </div>
  </div>
</section> -->
