<section class="article-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-8">
        <div class="article-section__inner">
          <div class="article-section__header">
            <h1 class="h2">
              Špaček: Znojmo je srdcovka. Jsem tu, abych ho pomohl vrátit nahoru
            </h1>
            <div class="article-section__header-info">
              <div class="tag">rozhovor</div>
              <span>ÚT 16. 8. 2022</span>
            </div>
          </div>
          <div class="o-content pb-10">
            <div class="border-r6 article-section__img">
              <img src="./images/content/bb.jpeg" alt="" loading="lazy" />
            </div>
            <div class="perex">
              Útočník Marek Špaček se do Znojma vrací po třech sezónách, které
              strávil v prvoligové Porubě. Jak se na novou výzvu těší? Co
              očekává od druhé ligy?
            </div>
            <h4>Jak se cítíte po letní přípravě?</h4>
            <p>
              Měl jsem letos individuální přípravu s Tejnym (Dominik Tejnor). Za
              to bych chtěl poděkovat panu Oherovi, trenérům Jiřímu Berounovi a
              Tomáši Jakešovi, že mi vyšli vstříc. Potřeboval jsem se dát do
              kupy po zdravotní stránce. Z toho důvodu jsem potřeboval
              individuální dohled, se kterým mi pomohl David Skřivánek, který
              působí v PRISMA INSTITUT, ve svém oboru je absolutní špička. Tímto
              bych mu chtěl moc poděkovat za jeho pomoc a ochotu.
            </p>
            <h4>Co se vám přihodilo?</h4>
            <p>
              Během letní přípravy se vyskytla menší komplikace. Musel jsem na
              operaci, kterou jsem ale očekával a nedalo se s tím nic dělat.
              Díky Davidovi jsem ale mohl tréninky přizpůsobit a tím pádem z
              toho vymáčknout maximum. Proto už nemám v plánu mít ani volno
              během prázdnin. Chtěl bych trénovat až do srazu, který máme s
              týmem.
            </p>
            <h4>
              Jak byste zhodnotil své předchozí angažmá v Porubě? Co vám ty tři
              roky přinesly?
            </h4>
            <p>
              Na Porubu mám určitě jen ty nejlepší vzpomínky. Poznal jsem
              spoustu nových kamarádů a dále mě nadchlo město, což jsem vůbec
              nečekal. Co se týče hokejové stránky, nevím jestli bych to mohl
              nazvat úspěšnými roky, protože jsme nesplnili cíl. Ambice na
              postup do extraligy tam byly a stále jsou. Peníze, hráči a zázemí
              v Porubě je na vysoké úrovni.
            </p>
            <p>
              První rok v Porubě byla moje premiéra v novém týmu, takže to pro
              mě bylo úplně něco nového, ale myslím si, že jsem to zvládl dobře.
              Druhou sezónu jsme udělali velký úspěch a to, že jsme se dostali
              do semifinále, ve kterém jsme prohráli s Kladnem. Z toho
              semifinále si odnáším velký zážitek. Mohl jsem si zahrát proti
              Tomáši Plekancovi a Jaromíru Jágrovi. Poslední sezóna byla
              psychicky náročná. Týmově se vůbec nedařilo, pořád jsme byli
              namočeni u posledních příček. Já jsem celou sezónu ani nemohl
              hrát. Už v září mě zranili v zápase a vrátil jsem se až ke konci
              sezóny... Ale jak jsem zmiňoval, na Porubu budu vždy vzpomínat
              jedině v tom nejlepším a přeji jim hodně štěstí do budoucna!
            </p>
            <h4>
              Když jste odcházel ze Znojma, hrála se tu EBEL liga. Nyní se
              vracíte do druhé ligy, není to škoda pro Znojmo a pro znojemské
              fanoušky?
            </h4>
            <p>
              To byla taky jedna z věcí, proč jsem se chtěl vrátit. Znojmo je
              moje srdcová záležitost a chtěl bych pomoct dostat Znojmo co
              nejvýš. Fanoušci si určitě zaslouží mnohem víc a věřím, že by se
              to v nejbližší době mohlo dokázat. Uděláme pro to maximum.
            </p>
            <h4>
              Vrátil byste se i v případě, že by Znojmo pokračovalo v Rakousku?
            </h4>
            <p>
              Měl jsem nějaké nabídky i ze zahraničí, takže kdyby Znojmo zůstalo
              v rakouské lize, nevím... Nejspíš bych zvolil jiný tým. Tím, že se
              teď vrátilo do české ligy a chce se co nejdříve dostat zase zpátky
              nahoru, lákalo mě se sem vrátit a porvat se o to. Hrál jsem zde od
              malička, a proto je pro mě důležité, abychom postoupili.
            </p>
            <h4>Skoro celý kádr je nový. Jak si kabina sedla?</h4>
            <p>
              Je pravda, že jsem skoro nikoho z týmu neznal. Přestože mám
              individuální letní přípravu, do kabiny občas chodím a myslím si,
              že všichni kluci jsou super, budeme tvořit dobrý tým. A to je
              jeden z největších klíčů k úspěchu.
            </p>
            <h4>
              Nová liga, nové týmy... Na které soupeře se těšíte? Co od ligy
              můžete očekávat?
            </h4>
            <p>
              Bude to úplně něco jiného, úplně jiný hokej. S týmy z druhé ligy
              jsem hrál jen v přípravných zápasech. Bude to fyzicky náročné, ale
              na to budeme připravení. Samozřejmě bude skvělé hrát proti týmům s
              vysokými ambicemi kvůli diváků a atmosféře.
            </p>
          </div>
          <div class="article-section__footer">
            <div class="article-section__author">
              <span>AUTOR:</span> Lukáš peroutka
            </div>
            <a
              href="https://twitter.com/share?http://localhost:3000/03.0_article.html"
              class="article-section__tweet customer share"
            >
              {% include "@images/twitter-light.svg" %}
              <span>Tweet</span>
            </a>
          </div>
        </div>
        <div class="article-section__post">
          <h2 class="h3">SOUVISEJÍCÍ ČLÁNKY</h2>
          {% include "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %} {% include
          "@components/post/post.twig" %}
        </div>
      </div>
      {% include "@components/aside/aside-article.twig" %}
    </div>
  </div>
</section>
