<section class="newsletter-section">
  <div class="container">
    <h5 class="h4">NEWSLETTER</h5>
    <div class="newsletter-section__inner">
      <h6 class="h2">#LETÍME VZHŮRU</h6>
      <div class="p2">
        <strong>
          Přihlaste se do našeho mailing listu, abyste byli informováni o
          novinkách, akcích a mnoha dalších zajímavých informací
        </strong>
      </div>
      <form class="newsletter-section__form" action="">
        <div class="newsletter-section__input">
          <input type="text" placeholder="VÁŠ E-MAIL" />
        </div>
        <div class="newsletter-section__btn">
          <button type="submit" class="">ODESLAT</button>
        </div>
      </form>
      <div class="p4">
        Vložením e-mailu souhlasíte s podmínkami ochrany osobních údajů
      </div>
    </div>
  </div>
</section>
