<section class="hp-team">
  <div class="container">
    <div class="hp-team__inner">
      <div class="hp-team__item">
        <a href="#">
          <div class="row">
            <div class="col-5">
              <div class="hp-team__img">
                <!-- <img src="images/content/player.jpeg" alt="" /> -->
              </div>
            </div>
            <div class="col-7">
              <div class="hp-team__content">
                <div class="hp-team__number">87</div>
                <div class="hp-team__position">BRANKÁŘ</div>
                <div class="h1">Dominik Groh</div>
                <ul class="team-section__item-list">
                  <li>24 let</li>
                  <li>190 cm</li>
                  <li>96 kg</li>
                  <li>
                    L
                    <div class="team-section__item-flag">
                      <img src="images/content/cze.png" loading="lazy" alt="" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="hp-team__item">
        <a href="#">
          <div class="row">
            <div class="col-5">
              <div class="hp-team__img">
                <!-- <img src="images/content/player.jpeg" alt="" /> -->
              </div>
            </div>
            <div class="col-7">
              <div class="hp-team__content">
                <div class="hp-team__number">87</div>
                <div class="hp-team__position">BRANKÁŘ</div>
                <div class="h1">Dominik Groh</div>
                <ul class="team-section__item-list">
                  <li>24 let</li>
                  <li>190 cm</li>
                  <li>96 kg</li>
                  <li>
                    L
                    <div class="team-section__item-flag">
                      <img src="images/content/cze.png" loading="lazy" alt="" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="hp-team__item">
        <a href="#">
          <div class="row">
            <div class="col-5">
              <div class="hp-team__img">
                <!-- <img src="images/content/player.jpeg" alt="" /> -->
              </div>
            </div>
            <div class="col-7">
              <div class="hp-team__content">
                <div class="hp-team__number">87</div>
                <div class="hp-team__position">BRANKÁŘ</div>
                <div class="h1">Dominik Groh</div>
                <ul class="team-section__item-list">
                  <li>24 let</li>
                  <li>190 cm</li>
                  <li>96 kg</li>
                  <li>
                    L
                    <div class="team-section__item-flag">
                      <img src="images/content/cze.png" loading="lazy" alt="" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="hp-team__item">
        <a href="#">
          <div class="row">
            <div class="col-5">
              <div class="hp-team__img">
                <!-- <img src="images/content/player.jpeg" alt="" /> -->
              </div>
            </div>
            <div class="col-7">
              <div class="hp-team__content">
                <div class="hp-team__number">87</div>
                <div class="hp-team__position">BRANKÁŘ</div>
                <div class="h1">Dominik Groh</div>
                <ul class="team-section__item-list">
                  <li>24 let</li>
                  <li>190 cm</li>
                  <li>96 kg</li>
                  <li>
                    L
                    <div class="team-section__item-flag">
                      <img src="images/content/cze.png" loading="lazy" alt="" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="hp-team__item">
        <a href="#">
          <div class="row">
            <div class="col-5">
              <div class="hp-team__img">
                <!-- <img src="images/content/player.jpeg" alt="" /> -->
              </div>
            </div>
            <div class="col-7">
              <div class="hp-team__content">
                <div class="hp-team__number">87</div>
                <div class="hp-team__position">BRANKÁŘ</div>
                <div class="h1">Dominik Groh</div>
                <ul class="team-section__item-list">
                  <li>24 let</li>
                  <li>190 cm</li>
                  <li>96 kg</li>
                  <li>
                    L
                    <div class="team-section__item-flag">
                      <img src="images/content/cze.png" loading="lazy" alt="" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="hp-team__item">
        <a href="#">
          <div class="row">
            <div class="col-5">
              <div class="hp-team__img">
                <!-- <img src="images/content/player.jpeg" alt="" /> -->
              </div>
            </div>
            <div class="col-7">
              <div class="hp-team__content">
                <div class="hp-team__number">87</div>
                <div class="hp-team__position">BRANKÁŘ</div>
                <div class="h1">Dominik Groh</div>
                <ul class="team-section__item-list">
                  <li>24 let</li>
                  <li>190 cm</li>
                  <li>96 kg</li>
                  <li>
                    L
                    <div class="team-section__item-flag">
                      <img src="images/content/cze.png" loading="lazy" alt="" />
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <a class="btn" href="#">TÝM</a>
  </div>
</section>
