<section class="statistics-section">
  <div class="bg-white">
    <div class="container">
      <div class="matches-section__menu">
        <form action="" class="menu-section__form">
          <label class="o-select menu-section__label">
            <select class="js-select">
              <option>Liga 2021/2022</option>
              <option value="tipsport">2020/21</option>
              <option value="tipsport">2019/20</option>
              <option value="tipsport">2018/19</option>
              <option value="tipsport">2017/18</option>
            </select>
          </label>
        </form>
        <ul class="matches-section__menu-list">
          <li>
            <a class="active" href="#">základní část</a>
          </li>
          <li>
            <a class="" href="#">play-off</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5">
      <div class="col-xl-8">
        <div class="match-content__statistics">
          <div class="o-content">
            <h3 class="mb-8 h3">STATISTIKY HRÁČŮ</h3>
            <table>
              <thead>
                <tr>
                  <th>ČÍSLO</th>
                  <th>JMÉNO</th>
                  <th>G</th>
                  <th>a</th>
                  <th>STŘ</th>
                  <th>b</th>
                  <th>+/-</th>
                  <th>tm</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>45</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                </tr>
                <tr>
                  <td>45</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                </tr>
              </tbody>
            </table>
            <h3 class="mb-8 h3">STATISTIKY BRANKÁŘŮ</h3>
            <table>
              <thead>
                <tr>
                  <th>ČÍSLO</th>
                  <th>JMÉNO</th>
                  <th>MIN</th>
                  <th>STŘ</th>
                  <th>INK</th>
                  <th>ZÁS</th>
                  <th>ÚSP</th>
                  <th>a</th>
                  <th>tm</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>45</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                  <td>9</td>
                </tr>
                <tr>
                  <td>45</td>
                  <td>
                    <a href="#">Sebastian Gorčík</a>
                  </td>
                  <td>4</td>
                  <td>9</td>
                  <td>5</td>
                  <td>9</td>
                  <td>5</td>
                  <td>-3</td>
                  <td>9</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside-article.twig" %}
    </div>
  </div>
</section>
