<section class="team-section">
  <div class="team-section__menu">
    <div class="container">
      <form action="" class="menu-section__form">
        <label class="o-select menu-section__label">
          <select class="js-select">
            <option>Soupiska 2021/2022</option>
            <option value="tipsport">2020/21</option>
            <option value="tipsport">2019/20</option>
            <option value="tipsport">2018/19</option>
            <option value="tipsport">2017/18</option>
          </select>
        </label>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="team-section__inner">
      <h2 class="team-section__title h4">BRANKÁŘI</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
      </div>
      <h2 class="team-section__title h4">OBRÁNCI</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
      </div>
      <h2 class="team-section__title h4">ÚTOČNÍCI</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="team-section__item">
            <div class="team-section__item-img">
              <img src="images/content/player.jpeg" loading="lazy" alt="" />
            </div>
            <div class="team-section__item-info">
              <div class="team-section__item-num">98</div>
              <div class="team-section__item-name">DOMINIK GROH</div>
              <ul class="team-section__item-list">
                <li>24 let</li>
                <li>190 cm</li>
                <li>96 kg</li>
                <li>
                  L
                  <div class="team-section__item-flag">
                    <img src="images/content/cze.png" loading="lazy" alt="" />
                  </div>
                </li>
              </ul>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
