<div class="col-xl-4 ">
  <aside class="aside">
    <div class="aside__players-wrap">
      <h3 class="h3 aside__title">
        <span>SOUPISKA MUŽI </span> <span>2021/2022</span>
      </h3>
      <div class="aside__players">
        <table>
          <tr>
            <th>BRANKÁŘI</th>
            <th></th>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td>Pavel Kantor</td>
            <td>7</td>
          </tr>
          <tr class="">
            <th>OBRÁNCI</th>
            <th></th>
          </tr>
          <tr>
            <td>Ryan Culkin</td>
            <td>32</td>
          </tr>
          <tr>
            <td>Ryan Culkin</td>
            <td>32</td>
          </tr>

          <tr>
            <td>Ryan Culkin</td>
            <td>32</td>
          </tr>
          <tr class="active">
            <td>Jan Bartko</td>
            <td>76</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr class="">
            <th>ÚTOČNÍCI</th>
            <th></th>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>

          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
        </table>
      </div>
    </div>
  </aside>
</div>
