<div class="col-xl-4 d-xl-block d-none">
  <aside class="aside">
    <h3 class="h3 aside__title">
      <span>SOUPISKA MUŽI </span> <span>2021/2022</span>
    </h3>
    <div class="aside__players">
      <table>
        <tr>
          <th>BRANKÁŘI</th>
          <th></th>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Pavel Kantor</td>
          <td>7</td>
        </tr>
        <tr class="bg-gray">
          <th>OBRÁNCI</th>
          <th></th>
        </tr>
        <tr>
          <td>Ryan Culkin</td>
          <td>32</td>
        </tr>
        <tr>
          <td>Ryan Culkin</td>
          <td>32</td>
        </tr>

        <tr>
          <td>Ryan Culkin</td>
          <td>32</td>
        </tr>
        <tr class="active">
          <td>Jan Bartko</td>
          <td>76</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr class="">
          <th>ÚTOČNÍCI</th>
          <th></th>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>

        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
        <tr>
          <td>Dominik Groh</td>
          <td>45</td>
        </tr>
      </table>
    </div>
  </aside>
</div>
