<div class="col-xl-4 ">
  <aside class="aside">
    <div class="aside__players-wrap">
      <h3 class="h3 aside__title mb-5">STATISTIKY</h3>
      <div class="aside-statistics__title">BRANKY A NAHRÁVKY</div>

      <div class="aside-statistics">
        <p>
          7. Hughes (Fraser), 12. Lanzinger (Maxa), 13. Maxa (Rebernig), 14.
          Krastenbergs (Schofield, Kosmachuk), 44. Kosmachuk, 50. Karlsson
          (Fraser, Schofield) – 16. Culkin (Němec, T. Svoboda)
        </p>
      </div>
      <div class="aside__players">
        <table>
          <tr>
            <td class="text-dark">VYLOUČENÍ</td>
            <td>6:8</td>
          </tr>
          <tr>
            <td class="text-dark">VYUŽITÍ</td>
            <td>1:1</td>
          </tr>
          <tr>
            <td class="text-dark">DIVÁCI</td>
            <td>2 130</td>
          </tr>
          <tr>
            <td class="text-dark">STŘELY NA BRANKU</td>
            <td>42:18</td>
          </tr>
          <tr>
            <td class="text-dark">PRŮBĚH UTKÁNÍ</td>
            <td>4:0, 4:1, 6:1</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="aside__players-wrap">
      <h3 class="h3 aside__title mb-5">SESTAVY</h3>
      <div class="aside-statistics__title">
        Opava
        <img src="images/content/opa.png" alt="" />
      </div>

      <div class="aside-statistics">
        <p>
          Bernard – Brunner, Fraser, Flemming, Lindner, Zauner, Joslin, Bacher –
          Karlsson, Collins, Hughes – Krastenbergs, Schofield, Kosmachuk –
          Richter, Broda, Lanzinger – Rebernig, Maxa, Moderer.
        </p>
      </div>
      <div class="aside-statistics__title">
        znojmo
        <img src="images/content/logo.png" alt="" />
      </div>
      <div class="aside-statistics">
        <p>
          Bernard – Brunner, Fraser, Flemming, Lindner, Zauner, Joslin, Bacher –
          Karlsson, Collins, Hughes – Krastenbergs, Schofield, Kosmachuk –
          Richter, Broda, Lanzinger – Rebernig, Maxa, Moderer.
        </p>
      </div>
    </div>
  </aside>
</div>
