<div class="col-xl-4 d-xl-block d-none">
  <aside class="aside">
    <div class="aside-wrapper">
      <h3 class="h3">AKTUÁLNÍ ČLÁNKY</h3>
      <div class="tag">ROZHOVOR</div>
      <a class="aside-pub" href="#">
        <img src="./images/content/bb.jpeg" alt="" loading="lazy" />
      </a>
      <div class="item-list">
        <div class="item-list__item">
          <div class="item-list__label">dnes</div>
          <a href="#" class="h6">
            Pozvánka na konferenci spolku HC Znojemští orli
          </a>
        </div>
        <div class="item-list__item">
          <div class="item-list__label">před 2 dny</div>
          <a href="#" class="h6">
            Pozvánka na konferenci spolku HC Znojemští orli - mládež
          </a>
        </div>
        <div class="item-list__item">
          <div class="item-list__label">dnes</div>
          <a href="#" class="h6">
            Pozvánka na konferenci spolku HC Znojemští orli - mládež
          </a>
        </div>
        <div class="item-list__item">
          <div class="item-list__label">čt 25. 8. 2022</div>
          <a href="#" class="h6">
            Pozvánka na konferenci spolku HC Znojemští orli - mládež
          </a>
        </div>
        <div class="item-list__item">
          <div class="item-list__label">dnes</div>
          <a href="#" class="h6">
            Pozvánka na konferenci spolku HC Znojemští orli - mládež
          </a>
        </div>
      </div>
      <a href="#" class="post__more">ČÍST VÍCE</a>
    </div>
    <div class="aside-wrapper">
      <h3 class="h3 mb-8">V TENTO DEN PŘED LETY</h3>
      <div class="item-list">
        <div class="item-list__item">
          <div class="item-list__label">dnes</div>
          <a href="#" class="h6">
            Pozvánka na konferenci spolku HC Znojemští orli
          </a>
        </div>
        <div class="item-list__item">
          <div class="item-list__label">čt 25. 8. 2022</div>
          <a href="#" class="h6">
            Pozvánka na konferenci spolku HC Znojemští orli - mládež
          </a>
        </div>
        <div class="item-list__item">
          <div class="item-list__label">dnes</div>
          <a href="#" class="h6">
            Pozvánka na konferenci spolku HC Znojemští orli - mládež
          </a>
        </div>
      </div>
      <a href="#" class="post__more">ČÍST VÍCE</a>
    </div>
  </aside>
</div>
