<div class="col-xl-4 d-xl-block d-none">
  <aside class="aside">
    <div class="aside__players-wrap">
      <h3 class="h3 aside__title">STATISTIKY</h3>
      <div class="aside-statistics">
        <div class="aside-statistics__title">BRANKY A NAHRÁVKY</div>
        <p>
          7. Hughes (Fraser), 12. Lanzinger (Maxa), 13. Maxa (Rebernig), 14.
          Krastenbergs (Schofield, Kosmachuk), 44. Kosmachuk, 50. Karlsson
          (Fraser, Schofield) – 16. Culkin (Němec, T. Svoboda)
        </p>

        VYLOUČENÍ 6:8 VYUŽITÍ 1:1 DIVÁCI 2 130 STŘELY NA BRANKU 42:18 PRŮBĚH
        UTKÁNÍ 4:0, 4:1, 6:1
      </div>
      <div class="aside__players">
        <table>
          <tr>
            <th>BRANKÁŘI</th>
            <th></th>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td>Pavel Kantor</td>
            <td>7</td>
          </tr>
          <tr class="">
            <th>OBRÁNCI</th>
            <th></th>
          </tr>
          <tr>
            <td>Ryan Culkin</td>
            <td>32</td>
          </tr>
          <tr>
            <td>Ryan Culkin</td>
            <td>32</td>
          </tr>

          <tr>
            <td>Ryan Culkin</td>
            <td>32</td>
          </tr>
          <tr class="active">
            <td>Jan Bartko</td>
            <td>76</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr class="">
            <th>ÚTOČNÍCI</th>
            <th></th>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>

          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
          <tr>
            <td><a href="#">Dominik Groh</a></td>
            <td>45</td>
          </tr>
        </table>
      </div>
    </div>
  </aside>
</div>
