<section class="player-detail-section">
  <div class="container">
    <div class="player-detail-section__inner">
      <div class="player-detail__left">
        <div class="player-detail__img">
          <img src="images/content/player.jpeg" loading="lazy" alt="" />
        </div>
        <div class="player-detail__num">98</div>
        <div class="player-detail__name">
          DOMINIK
          <br />
          GROH
          <span>BRÁNKÁŘ</span>
        </div>
      </div>
      <div class="player-detail__right">
        <ul class="player-detail__info">
          <li>
            <span>NÁRODNOST</span>
            CZECH
            <div class="player-detail__flag">
              <img src="images/content/cze.png" loading="lazy" alt="" />
            </div>
          </li>
          <li>
            <span>HŮL</span>
            LEVÁ
          </li>
          <li>
            <span>VÁHA</span>
            96 kg
          </li>
          <li>
            <span>NAROZEN</span>
            20.3.1998
          </li>
          <li>
            <span>VÝŠKA</span>
            190 cm
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
