.o-content {
  ul {
    font-size: 16px;
    line-height: 23px;
    margin: 24px 0;
    > li {
      position: relative;
      padding-left: 24px;
      margin-bottom: 16px;
      &::before {
        content: "";
        background-color: var(--color-primary);
        position: absolute;
        top: 8px;
        left: 0;
        width: 8px;
        height: 8px;
      }
      > ul {
        margin: 16px 0 0;
        > li {
          &::before {
            border-radius: 50%;
          }
        }
      }
    }
  }
  ol {
    font-size: 16px;
    line-height: 23px;
    margin: 24px 0;
    counter-reset: item;

    > li {
      counter-increment: item;
      position: relative;
      padding-left: 32px;
      margin-bottom: 16px;
      &::before {
        content: counter(item) ")";
        color: var(--color-primary);
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
      }
      > ol {
        margin: 16px 0 0;
        > li {
          &::before {
            content: counter(item) ".";
          }
        }
      }
    }
  }
  img {
    margin: 0 auto 24px;
  }
  h5 {
    color: var(--color-primary);
    margin-bottom: 24px;
  }
  .border-r6 {
    margin-bottom: 40px;
  }
  .perex {
    margin-bottom: 32px;
  }
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  a {
    text-decoration: underline;
    text-decoration-color: inherit;
    transition: text-decoration-color 0.3s;
    color: inherit;
    &:hover {
      text-decoration-color: transparent;
    }
  }
  p {
    margin-bottom: 24px;
  }
}
.h1 {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -0.48px;
  line-height: 48px;
  @include media-breakpoint-down(md) {
    font-size: 36px;
    line-height: 125%;
    letter-spacing: -0.36px;
  }
}
.h2,
.o-content h2 {
  color: var(--color-primary);
  font-size: 36px;
  letter-spacing: -0.36px;
  line-height: 36px;
  font-weight: 800;
  @include media-breakpoint-down(md) {
    font-size: 28px;
    line-height: 125%;
    letter-spacing: -0.28px;
  }
}
.h3,
.o-content h3 {
  color: var(--color-primary);
  font-size: 21px;
  letter-spacing: -0.21px;
  line-height: 20px;
  font-weight: 800;
}
.h4,
.o-content h4 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.18px;
  line-height: 125%;
}
.h5,
.o-content h5 {
  font-size: 16px;
  letter-spacing: 0.02px;
  line-height: 21px;
  font-weight: 700;
}
.o-content h6,
.h6 {
  font-size: 14px;
  letter-spacing: -0.14px;
  line-height: 20px;
  font-weight: 800;
}

.p1 {
}
.p2 {
  font-size: 14px;
  letter-spacing: -0.14px;
  line-height: 19px;
}
.p3 {
  font-size: 12px;
  letter-spacing: -0.12px;
  line-height: 16px;
}
.p4 {
  font-size: 10px;
  letter-spacing: -0.1px;
  line-height: 12px;
}
.perex {
  font-size: 21px;
  letter-spacing: 0.02px;
  line-height: 29px;
  font-weight: 800;
}
