<section class="match-section">
  <div class="container">
    <div class="match-section__top">
      <div class="match-detail">
        <div class="match-detail__category">
          ICE Hockey League - ne 3. 10. 2021
        </div>
        <div class="match-detail__time">6. KOLO</div>
        <div class="match-detail__info"></div>
        <div class="match-detail__scoreboard">
          <div class="row align-items-center">
            <div class="col-6 col-sm-6 col-lg-4 col-xl-5">
              <div class="row align-items-center justify-content-end">
                <div class="d-none d-sm-block col-8">
                  <div class="match-detail__team match-detail__team-right">
                    ZNOJMO
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="match-detail__logo">
                    <img src="images/content/logo.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 col-xl-2 order-2 order-lg-1">
              <div class="match-detail__score win">8:3</div>
              <div class="match-detail__period">4:1, 4:2, 0:0</div>
            </div>
            <div class="col-6 col-sm-6 col-lg-4 col-xl-5 order-1 order-lg-2">
              <div class="row align-items-center justify-content-start">
                <div class="col-12 col-sm-4">
                  <div class="match-detail__logo">
                    <img src="images/content/opa.png" alt="" />
                  </div>
                </div>
                <div class="d-none d-sm-block col-8">
                  <div class="match-detail__team">opava</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="match-detail__list">
        <div class="game__timeline game__timeline--home">
          <div class="game__timeline__logo">
            <img src="images/content/logo.png" />
          </div>

          <div class="row gx-10">
            <div class="col-4">
              <div class="game__timeline__period game__timeline__period--home">
                <div
                  style="left: 35%"
                  class="game__timeline__goal game__timeline__goal--home"
                >
                  <span
                    title="Jenáček"
                    data-placement="top"
                    data-toggle="tooltip"
                    >7'</span
                  >
                </div>
                <div
                  style="left: 85%"
                  class="game__timeline__goal game__timeline__goal--home"
                >
                  <span
                    title="Jenáček"
                    data-placement="top"
                    data-toggle="tooltip"
                    >17'</span
                  >
                </div>
                <div
                  style="left: 90%"
                  class="game__timeline__goal game__timeline__goal--home"
                >
                  <span
                    title="Jenáček"
                    data-placement="top"
                    data-toggle="tooltip"
                    >18'</span
                  >
                </div>
                <div
                  style="left: 95%"
                  class="game__timeline__goal game__timeline__goal--home"
                >
                  <span
                    title="Jenáček"
                    data-placement="top"
                    data-toggle="tooltip"
                    >19'</span
                  >
                </div>
                <div class="period">1/3</div>
              </div>
            </div>

            <div class="col-4">
              <div class="game__timeline__period game__timeline__period--home">
                <div
                  style="left: 65%"
                  class="game__timeline__goal game__timeline__goal--home"
                >
                  <span
                    title="Nižnikov"
                    data-placement="top"
                    data-toggle="tooltip"
                    >33'</span
                  >
                </div>
                <div
                  style="left: 70%"
                  class="game__timeline__goal game__timeline__goal--home"
                >
                  <span
                    title="Nižnikov"
                    data-placement="top"
                    data-toggle="tooltip"
                    >34'</span
                  >
                </div>
                <div
                  style="left: 90%"
                  class="game__timeline__goal game__timeline__goal--home"
                >
                  <span
                    title="Nižnikov"
                    data-placement="top"
                    data-toggle="tooltip"
                    >38'</span
                  >
                </div>
                <div
                  style="left: 95%"
                  class="game__timeline__goal game__timeline__goal--home"
                >
                  <span
                    title="Hruška"
                    data-placement="top"
                    data-toggle="tooltip"
                    >39'</span
                  >
                </div>
                <div class="period">2/3</div>
              </div>
            </div>

            <div class="col-4">
              <div
                class="game__timeline__period game__timeline__period--home"
              ></div>
            </div>
          </div>
        </div>
        <!--/.game__timeline-->

        <div class="game__timeline game__timeline--away">
          <div class="game__timeline__logo game__timeline__logo--away">
            <img src="images/content/opa.png" />
          </div>

          <div class="row gx-10">
            <div class="col-4">
              <div class="game__timeline__period game__timeline__period--away">
                <div
                  style="left: 20%"
                  class="game__timeline__goal game__timeline__goal--away"
                >
                  <span
                    title="Hruška"
                    data-placement="bottom"
                    data-toggle="tooltip"
                    >4'</span
                  >
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="game__timeline__period game__timeline__period--away">
                <div
                  style="left: 45%"
                  class="game__timeline__goal game__timeline__goal--away"
                >
                  <span
                    title="Hruška"
                    data-placement="bottom"
                    data-toggle="tooltip"
                    >29'</span
                  >
                </div>
                <div
                  style="left: 65%"
                  class="game__timeline__goal game__timeline__goal--away"
                >
                  <span
                    title="Hruška"
                    data-placement="bottom"
                    data-toggle="tooltip"
                    >33'</span
                  >
                </div>
              </div>
            </div>
            <div class="col-4">
              <div
                class="game__timeline__period game__timeline__period--away"
              ></div>
            </div>
          </div>
        </div>
        <!--/.game__timeline-->
      </div>
    </div>
  </div>
</section>
<div class="match-content mb-10">
  <div class="container">
    <div class="tabs-wrapper">
      <ul class="tabs menu-section__links">
        <li>
          <a href="#" class="tab active" data-id="1">REPORTÁŽ</a>
        </li>
        <li>
          <a href="#" class="tab" data-id="2">VIDEO ZÁZNAM</a>
        </li>
        <li>
          <a href="#" class="tab" data-id="3">ROZHOVOR</a>
        </li>
        <li>
          <a href="#" class="tab" data-id="4">STATISTIKY HRÁČŮ</a>
        </li>
        <li>
          <a href="#" class="tab" data-id="5"> FOTOGALERIE </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.onlajny.com/match/index/id/386592"
            class=" "
            >ONLINE</a
          >
        </li>
      </ul>
      <div class="row g-10">
        <div class="col-xl-8">
          <div class="tab-content tab-active" id="1">
            <div class="match-content__wrapper mb-10">
              <h2 class="h1 mb-4 text-primary">
                Výpadek v první třetině stál Znojmo zápas
              </h2>
              <div class="o-content mb-10">
                <div class="perex">
                  Znojemští hokejisté ve Villachu jasně prohráli. Rozhodla hned
                  úvodní třetina, v níž si domácí vypracovali čtyřbrankové
                  vedení, které poté udržovali a navyšovali až do konce utkání.
                  O jediný úspěch Orlů se postaral v přesilovce Ryan
                </div>
                <p>
                  Rodák z finské Lappeenranty se narodil 26. února 1994 a už od
                  mládí prokazoval velký talent. Ve stejném městě, ve kterém se
                  Henri Kiviaho narodil, také dlouhá léta hokejově rostl.
                  Mezitím si vybojoval i stabilní místo v mládežnických
                  reprezentacích Suomi. Před draftem do NHL se však 192
                  centimetrů brankář rozhodl pro změnu a přesunul se do 270
                  kilometrů vzdáleného Kuopia.
                </p>
                <p>
                  V KalPa Kuopio strávil mrštný maskovaný muž tři sezóny, ve
                  kterých si dokonce odbyl debut ve finské Liize. Mimochodem na
                  draftu uspěl, v pátém kole si ho vybral Dallas, se kterým
                  později dokonce podepsal tříletý nováčkovský kontrakt. V
                  zámoří se však neprosadil, zachytal si pouze v ECHL v dresu
                  Idaho Steelheads.
                </p>
                <p>
                  A tak zvolil návrat do rodné vlasti, ve které si zachytal
                  nejvyšší soutěž za Ässät Pori a také KalPa Kuopio. Příliš se
                  mu však nedařilo v zápasech vyhrávat, proto plnil spíš roli
                  dvojky. Zachytal si také druhou finskou ligu – Mestis, ze
                  které se přesunul na Slovensko do Nových Zámků.
                </p>
                <p>
                  Ty dokázal v uplynulém ročníku dotáhnout přes Košice do
                  čtvrtfinále, v něm ale Nové Zámky padly proti Zvolenu. Student
                  mezinárodního byznysu na Univerzitě v Kuopiu se stal
                  nejvytíženějším brankářem slovenské extraligy, ve 43 zápasech
                  měl pátý nejlepší průměr inkasovaných branek na zápas – 2,60 a
                  sedmou nejlepší úspěšnost zásahů – 91,51 %. Poté se rozhodl
                  posunout v kariéře, a tak zvolil nabídku Mountfieldu HK.
                </p>
              </div>
              <div class="article-section__footer">
                <div class="article-section__author">
                  <span>AUTOR:</span> Lukáš peroutka
                </div>
                <a
                  href="https://twitter.com/share?http://localhost:3000/03.0_article.html"
                  class="article-section__tweet customer share"
                >
                  {% include "@images/twitter-light.svg" %}
                  <span>Tweet</span>
                </a>
              </div>
            </div>
            <div class="article-section__post">
              <h2 class="h3">SOUVISEJÍCÍ ČLÁNKY</h2>
              {% include "@components/post/post.twig" %}
            </div>
          </div>
          <div class="tab-content" id="3">
            <div class="match-content__wrapper mb-10">
              <h2 class="h1 mb-4 text-primary">
                Lukáš Adámek: Nejdůležitější je jít zápas od zápasu
              </h2>
              <div class="perex mb-10">
                V tabulce bodování mu patří horní příčky i přes jeho mladý věk.
                Dvacetiletý útočník Lukáš Adámek zaznamenal druhý hattrick v
                sezóně. A to proti týmu, jehož dres oblékal v mládežnickém
                hokeji.
              </div>
              <div class="o-content">
                <div class="item-list__wrap">
                  <div class="item-list__item">
                    <div class="item-list__label">
                      Po prohře s Kopřivnicí to bylo takové hledání, je ta
                      potřebná jiskra zpět?
                    </div>
                    <p>
                      Po tom prohraném zápase jsme si v kabině řekli nějaké
                      negativní věci, které bylo potřeba odstranit, a to se nám
                      snad už povedlo. Dnešní vítězství nám určitě hodně pomůže
                      vrátit se na naši herní pohodu. Další těžký zápas, po
                      prohře s Kopřivnicí, byl v Opavě. To bylo takové temnější
                      období, ale teď už jsme zpátky tam, kde jsme byli předtím.
                    </p>
                  </div>
                  <div class="item-list__item">
                    <div class="item-list__label">
                      Po prohře s Kopřivnicí to bylo takové hledání, je ta
                      potřebná jiskra zpět?
                    </div>
                    <p>
                      Po tom prohraném zápase jsme si v kabině řekli nějaké
                      negativní věci, které bylo potřeba odstranit, a to se nám
                      snad už povedlo. Dnešní vítězství nám určitě hodně pomůže
                      vrátit se na naši herní pohodu. Další těžký zápas, po
                      prohře s Kopřivnicí, byl v Opavě. To bylo takové temnější
                      období, ale teď už jsme zpátky tam, kde jsme byli předtím.
                    </p>
                  </div>
                  <div class="item-list__item">
                    <div class="item-list__label">
                      Po prohře s Kopřivnicí to bylo takové hledání, je ta
                      potřebná jiskra zpět?
                    </div>
                    <p>
                      Po tom prohraném zápase jsme si v kabině řekli nějaké
                      negativní věci, které bylo potřeba odstranit, a to se nám
                      snad už povedlo. Dnešní vítězství nám určitě hodně pomůže
                      vrátit se na naši herní pohodu. Další těžký zápas, po
                      prohře s Kopřivnicí, byl v Opavě. To bylo takové temnější
                      období, ale teď už jsme zpátky tam, kde jsme byli předtím.
                    </p>
                  </div>
                  <div class="item-list__item">
                    <div class="item-list__label">
                      Po prohře s Kopřivnicí to bylo takové hledání, je ta
                      potřebná jiskra zpět?
                    </div>
                    <p>
                      Po tom prohraném zápase jsme si v kabině řekli nějaké
                      negativní věci, které bylo potřeba odstranit, a to se nám
                      snad už povedlo. Dnešní vítězství nám určitě hodně pomůže
                      vrátit se na naši herní pohodu. Další těžký zápas, po
                      prohře s Kopřivnicí, byl v Opavě. To bylo takové temnější
                      období, ale teď už jsme zpátky tam, kde jsme byli předtím.
                    </p>
                  </div>
                  <div class="item-list__item">
                    <div class="item-list__label">
                      Po prohře s Kopřivnicí to bylo takové hledání, je ta
                      potřebná jiskra zpět?
                    </div>
                    <p>
                      Po tom prohraném zápase jsme si v kabině řekli nějaké
                      negativní věci, které bylo potřeba odstranit, a to se nám
                      snad už povedlo. Dnešní vítězství nám určitě hodně pomůže
                      vrátit se na naši herní pohodu. Další těžký zápas, po
                      prohře s Kopřivnicí, byl v Opavě. To bylo takové temnější
                      období, ale teď už jsme zpátky tam, kde jsme byli předtím.
                    </p>
                  </div>
                  <div class="item-list__item">
                    <div class="item-list__label">
                      Po prohře s Kopřivnicí to bylo takové hledání, je ta
                      potřebná jiskra zpět?
                    </div>
                    <p>
                      Po tom prohraném zápase jsme si v kabině řekli nějaké
                      negativní věci, které bylo potřeba odstranit, a to se nám
                      snad už povedlo. Dnešní vítězství nám určitě hodně pomůže
                      vrátit se na naši herní pohodu. Další těžký zápas, po
                      prohře s Kopřivnicí, byl v Opavě. To bylo takové temnější
                      období, ale teď už jsme zpátky tam, kde jsme byli předtím.
                    </p>
                  </div>
                  <div class="item-list__item">
                    <div class="item-list__label">
                      Po prohře s Kopřivnicí to bylo takové hledání, je ta
                      potřebná jiskra zpět?
                    </div>
                    <p>
                      Po tom prohraném zápase jsme si v kabině řekli nějaké
                      negativní věci, které bylo potřeba odstranit, a to se nám
                      snad už povedlo. Dnešní vítězství nám určitě hodně pomůže
                      vrátit se na naši herní pohodu. Další těžký zápas, po
                      prohře s Kopřivnicí, byl v Opavě. To bylo takové temnější
                      období, ale teď už jsme zpátky tam, kde jsme byli předtím.
                    </p>
                  </div>
                  <div class="item-list__item">
                    <div class="item-list__label">
                      Po prohře s Kopřivnicí to bylo takové hledání, je ta
                      potřebná jiskra zpět?
                    </div>
                    <p>
                      Po tom prohraném zápase jsme si v kabině řekli nějaké
                      negativní věci, které bylo potřeba odstranit, a to se nám
                      snad už povedlo. Dnešní vítězství nám určitě hodně pomůže
                      vrátit se na naši herní pohodu. Další těžký zápas, po
                      prohře s Kopřivnicí, byl v Opavě. To bylo takové temnější
                      období, ale teď už jsme zpátky tam, kde jsme byli předtím.
                    </p>
                  </div>
                </div>
              </div>

              <div class="article-section__footer">
                <div class="article-section__author">
                  <span>AUTOR:</span> Lukáš peroutka
                </div>
                <a
                  href="https://twitter.com/share?http://localhost:3000/03.0_article.html"
                  class="article-section__tweet customer share"
                >
                  {% include "@images/twitter-light.svg" %}
                  <span>Tweet</span>
                </a>
              </div>
            </div>
            <div class="article-section__post">
              <h2 class="h3">SOUVISEJÍCÍ ČLÁNKY</h2>
              {% include "@components/post/post.twig" %}
            </div>
          </div>
          <div class="tab-content" id="4">
            <div class="match-content__statistics">
              <div class="o-content">
                <h3 class="mb-8 h3">STATISTIKY HRÁČŮ</h3>
                <table>
                  <thead>
                    <tr>
                      <th>ČÍSLO</th>
                      <th>JMÉNO</th>
                      <th>G</th>
                      <th>a</th>
                      <th>STŘ</th>
                      <th>b</th>
                      <th>+/-</th>
                      <th>tm</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>45</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                    </tr>
                    <tr>
                      <td>45</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                    </tr>
                  </tbody>
                </table>
                <h3 class="mb-8 h3">STATISTIKY BRANKÁŘŮ</h3>
                <table>
                  <thead>
                    <tr>
                      <th>ČÍSLO</th>
                      <th>JMÉNO</th>
                      <th>MIN</th>
                      <th>STŘ</th>
                      <th>INK</th>
                      <th>ZÁS</th>
                      <th>ÚSP</th>
                      <th>a</th>
                      <th>tm</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>45</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <td>45</td>
                      <td>
                        <a href="#">Sebastian Gorčík</a>
                      </td>
                      <td>4</td>
                      <td>9</td>
                      <td>5</td>
                      <td>9</td>
                      <td>5</td>
                      <td>-3</td>
                      <td>9</td>
                    </tr>
                  </tbody>
                </table>
                <a href="#" class="btn btn-dark w-100">CELKOVÉ STATISTIKY</a>
              </div>
            </div>
          </div>
          <div class="tab-content" id="5">
            <div class="match-content__wrapper mb-10">
              <div class="o-content mb-5">
                <h3 class="h3">Fotogalerie</h3>
              </div>
              <div class="gallery row js-gallery">
                <figure class="col-12 col-sm-6 col-md-4 p-3">
                  <a href="images/content/clanek.jpeg" data-size="1024x1024">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </figure>
                <figure class="col-12 col-sm-6 col-md-4 p-3">
                  <a href="images/content/clanek.jpeg" data-size="1024x1024">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </figure>
                <figure class="col-12 col-sm-6 col-md-4 p-3">
                  <a href="images/content/clanek.jpeg" data-size="1024x1024">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </figure>
                <figure class="col-12 col-sm-6 col-md-4 p-3">
                  <a href="images/content/clanek.jpeg" data-size="1024x1024">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </figure>
                <figure class="col-12 col-sm-6 col-md-4 p-3">
                  <a href="images/content/clanek.jpeg" data-size="1024x1024">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </figure>
                <figure class="col-12 col-sm-6 col-md-4 p-3">
                  <a href="images/content/clanek.jpeg" data-size="1024x1024">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </figure>
                <figure class="col-12 col-sm-6 col-md-4 p-3">
                  <a href="images/content/clanek.jpeg" data-size="1024x1024">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </figure>
                <figure class="col-12 col-sm-6 col-md-4 p-3">
                  <a href="images/content/clanek.jpeg" data-size="1024x1024">
                    <img
                      src="images/content/clanek.jpeg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                </figure>
              </div>
            </div>
          </div>
        </div>
        {% include "@components/aside/aside-statistics.twig" %}
      </div>
    </div>
  </div>
</div>
