.match-section {
  padding-top: 150px;

  &__top {
    border-radius: 12px;
    background: linear-gradient(214.45deg, #ff1522 0%, #ff0046 100%);
    padding-left: 32px;
    padding-right: 32px;
  }
}
.period {
  position: absolute;
  right: -30px;
  top: 31px;
  font-size: 12px;
  letter-spacing: -0.12px;
  line-height: 20px;
  text-align: center;
  font-weight: 800;
  color: var(--color-light);
}
.match-detail {
  padding-top: 16px;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  background-color: var(--color-light);
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  &__category {
    position: absolute;
    left: 40px;
    top: 16px;
    color: #717171;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 20px;
    @include media-breakpoint-down(lg) {
      position: relative;
      text-align: center;
      margin-bottom: 10px;
      top: 0;
      left: 0;
    }
  }
  &__time {
    text-align: center;
    color: var(--color-primary);
    font-size: 21px;
    letter-spacing: -0.21px;
    line-height: 20px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
  }
  &__score {
    font-size: 144px;
    letter-spacing: -7.2px;
    line-height: 60%;
    text-align: center;
    font-weight: 800;
    margin-bottom: 32px;
    @include media-breakpoint-down(lg) {
      font-size: 80px;
      margin-top: 24px;
      letter-spacing: -0.2px;
    }
  }
  &__period {
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 19px;
    text-align: center;
    font-weight: 800;
  }
  &__team {
    font-size: 36px;
    letter-spacing: -0.36px;
    line-height: 36px;
    font-weight: 800;
    text-transform: uppercase;
    &-right {
      text-align: right;
    }
  }
}
.match-detail__list {
  background: linear-gradient(214.45deg, #ff1522 0%, #ff0046 100%);
}
.game__timeline {
  display: none;
  position: relative;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .game__timeline {
    display: block;
  }
}
.game__timeline__logo {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 60px;
  border-bottom: 1px solid #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.game__timeline__logo img {
  width: 100%;
  max-width: 32px;
}
.game__timeline__logo--away {
  border-bottom: 0;
}
.game__timeline__period {
  height: 46px;
  position: relative;
  border-bottom: 1px solid #fff;
}
.game__timeline__period--away {
  border-bottom: 0;
}
.game__timeline__goal {
  margin-left: -10px;
  bottom: -1px;
  position: absolute;
  text-align: center;
}
.game__timeline__goal i.ico {
  display: block;
  width: 21px;
  height: 16px;
  line-height: 0;
}
.game__timeline__goal span {
  display: block;
  margin-top: 4px;
  position: relative;
  background-color: var(--color-light);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  font-size: 14px;
  letter-spacing: -0.04px;
  line-height: 19px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.game__timeline__goal--away {
  bottom: auto;
  top: -1px;
}
.game__timeline__goal--away span {
  margin-top: 0;
  margin-bottom: 4px;
  padding-bottom: 0;
  margin-top: 4px;
}

.match-content {
  &__wrapper {
    padding: 40px 60px;
    border-radius: 12px;
    background-color: var(--color-light);
  }
  .tabs {
    padding: 0 24px;
    margin: 24px 0;
    li {
      width: 100%;
      a {
        width: 100%;
      }
    }
  }
}
