.match-section {
  padding-top: 150px;

  &__top {
    border-radius: 12px;
    background: linear-gradient(214.45deg, #ff1522 0%, #ff0046 100%);
  }
}
.period {
  position: absolute;
  right: -30px;
  top: 31px;
  font-size: 12px;
  letter-spacing: -0.12px;
  line-height: 20px;
  text-align: center;
  font-weight: 800;
  color: var(--color-light);
}
.match-detail {
  padding-top: 16px;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  background-color: var(--color-light);
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  &__logo {
    text-align: center;
    line-height: 0;
    img {
      width: 80%;
    }
  }
  &__category {
    position: absolute;
    left: 40px;
    top: 16px;
    color: #717171;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 20px;
    @include media-breakpoint-down(lg) {
      position: relative;
      text-align: center;
      margin-bottom: 10px;
      top: 0;
      left: 0;
    }
  }
  &__time {
    text-align: center;
    color: var(--color-primary);
    font-size: 21px;
    line-height: 20px;
    text-align: center;
    font-weight: 800;
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }
  &__score {
    font-size: 5rem;
    text-align: center;
    font-weight: 800;
    line-height: 135%;
  }
  &__period {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    font-weight: 800;
  }
  &__team {
    font-size: 36px;
    letter-spacing: -0.36px;
    line-height: 36px;
    font-weight: 800;
    text-transform: uppercase;
    &-right {
      text-align: right;
    }
  }
}
.match-detail__list {
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 12px;
  background: linear-gradient(214.45deg, #ff1522 0%, #ff0046 100%);
}
.game__timeline {
  display: none;
  position: relative;
  padding-left: 60px;
}
@media (min-width: 768px) {
  .game__timeline {
    display: block;
  }
}
.game__timeline__logo {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 60px;
  border-bottom: 1px solid #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.game__timeline__logo img {
  width: 100%;
  max-width: 32px;
}
.game__timeline__logo--away {
  border-bottom: 0;
}
.game__timeline__period {
  height: 40px;
  position: relative;
  border-bottom: 1px solid #fff;
}
.game__timeline__period--away {
  border-bottom: 0;
}
.game__timeline__goal {
  margin-left: -10px;
  bottom: -1px;
  position: absolute;
  text-align: center;
}
.game__timeline__goal i.ico {
  display: block;
  width: 21px;
  height: 16px;
  line-height: 0;
}
.game__timeline__goal span {
  display: block;
  margin-top: 4px;
  position: relative;
  background-color: var(--color-light);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  font-size: 14px;
  letter-spacing: -0.04px;
  line-height: 19px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.game__timeline__goal--away {
  bottom: auto;
  top: -1px;
}
.game__timeline__goal--away span {
  margin-top: 0;
  margin-bottom: 4px;
  padding-bottom: 0;
  margin-top: 4px;
}

.match-content {
  .item-list__item {
    padding-bottom: 24px;
    margin-bottom: 24px;
    &:last-child {
      border-bottom: none;
    }
    .h6 {
      font-weight: 400;
    }
  }
  .item-list__label {
    font-size: 20px;
    color: var(--color-dark);
    margin-bottom: 16px;
  }
  .tabs {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
  .menu-section__links li {
    @include media-breakpoint-only(md) {
      max-width: 33.333%;
      flex: 0 0 33.333%;
      margin-bottom: 24px;
    }
    @include media-breakpoint-only(sm) {
      max-width: 33.333%;
      flex: 0 0 33.333%;
      margin-bottom: 24px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 50%;
      flex: 0 0 50%;
      margin-bottom: 24px;
    }
  }
  &__statistics {
    border-radius: 12px;
    background-color: var(--color-light);
    padding: 32px 0;
    thead {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        background-color: #f3f3f3;
        height: 100%;
        margin-left: -24px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        background-color: #f3f3f3;
        height: 100%;
        margin-right: -24px;
      }
    }
    .table-responsive {
      padding: 0 24px;
      margin-bottom: 32px;
    }

    .h3 {
      padding-left: 60px;
      @include media-breakpoint-down(md) {
        padding-left: 20px;
      }
    }
    th {
      background-color: #f3f3f3;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 14px;
      min-width: 72px;
      text-align: center;
      white-space: nowrap;
      &:first-child {
        text-align: left;
        padding-left: 36px;
        width: 82px;
        @include media-breakpoint-down(md) {
          padding-left: 16px;
          width: auto;
        }
      }
      &:nth-child(2) {
        width: 100%;
        text-align: left;
      }
    }
    td {
      white-space: nowrap;
      text-align: center;
      font-size: 14px;
      letter-spacing: -0.14px;
      color: var(--color-gray);
      font-weight: 800;
      border-bottom: 1px solid #d8d8d8;
      padding-left: 8px;
      padding-right: 8px;
      min-width: 72px;
      padding-top: 10px;
      padding-bottom: 8px;
      &:first-child {
        text-align: left;
        padding-left: 36px;
        width: 82px;
        @include media-breakpoint-down(md) {
          padding-left: 16px;
          width: auto;
        }
      }
      &:nth-child(2) {
        width: 100%;
        text-align: left;
      }
      a {
        color: var(--color-dark);
        text-decoration-color: transparent;
        transition: all 0.3s;
        &:hover {
          text-decoration-color: inherit;
        }
      }
    }
  }
  &__wrapper {
    padding: 40px 60px;
    border-radius: 12px;
    background-color: var(--color-light);
    @include media-breakpoint-down(sm) {
      padding-left: 16px;
      padding-right: 16px;
    }
    .gallery a {
      position: relative;
      display: flex;
      align-items: center;
      aspect-ratio: 260/172;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        background: var(--color-primary);
        transition: all 0.3s;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 80px 80px;
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1;
        background-image: url("../images/ico/camera.svg");
        transition: all 0.3s;
        opacity: 0;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
        &::after {
          opacity: 0.5;
        }
      }
    }
  }
  .tabs {
    padding: 0 24px;
    margin: 24px 0;
    li {
      width: 100%;
      a {
        width: 100%;
      }
    }
  }
}
