<section class="partners-section">
  <div class="container">
    <div class="partners-section__inner">
      <h2 class="team-section__title h4">GOLD HLAVNÍ PARTNER</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-1.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-2.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
      <h2 class="team-section__title h4">HLAVNÍ PARTNEŘI</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-3.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-4.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-1.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
      <h2 class="team-section__title h4">FASHION PARTNER</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-2.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-5.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-6.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
      <h2 class="team-section__title h4">UBYTOVACÍ PARTNER</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-3.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-4.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-1.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
      <h2 class="team-section__title h4">GOLD PARTNER</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-3.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-4.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-1.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-3.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-5.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-4 col-md-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-2.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
      <h2 class="team-section__title h4">SILVER PARTNER</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-2.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-1.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-3.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-4.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-5.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-6.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
      <h2 class="team-section__title h4">BRONZE PARTNER</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-2.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-1.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-3.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-4.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-5.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-6.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
      <h2 class="team-section__title h4">OFICIÁLNÍ PARTNER</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-2.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-1.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-3.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-4.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-5.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-6.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
      <h2 class="team-section__title h4">MEDIÁLNÍ PARTNER</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-2.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-1.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-3.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-4.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-5.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-6.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
      <h2 class="team-section__title h4">BRONZE PARTNER</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-2.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-1.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-3.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-4.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-5.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-6.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
      <h2 class="team-section__title h4">BRONZE PARTNER</h2>
      <div class="row g-xxl-10 g-5">
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-2.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-1.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-3.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-4.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-5.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
        <div class="col-xxl-3 col-lg-4 col-sm-6">
          <a href="#" class="partners-section__item">
            <img
              src="images/content/partners/partner-6.png"
              loading="lazy"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
