<section class="photogallery-section">
  <div class="bg-white">
    <div class="container">
      <div class="matches-section__menu">
        <form action="" class="menu-section__form">
          <div class="row g-5">
            <div class="col-xl-3 col-md-6">
              <label class="o-select menu-section__label">
                <select class="js-select">
                  <option>Kategorie</option>
                  <option value="tipsport">2020/21</option>
                  <option value="tipsport">2019/20</option>
                  <option value="tipsport">2018/19</option>
                  <option value="tipsport">2017/18</option>
                </select>
              </label>
            </div>
            <div class="col-xl-3 col-md-6">
              <label class="o-select menu-section__label">
                <select class="js-select">
                  <option>Sezóna</option>
                  <option value="tipsport">2020/21</option>
                  <option value="tipsport">2019/20</option>
                  <option value="tipsport">2018/19</option>
                  <option value="tipsport">2017/18</option>
                </select>
              </label>
            </div>

            <div class="col-xl-4 col-md-8">
              <label for="">
                <input type="text" placeholder="Hledaný text" />
              </label>
            </div>
            <div class="col-md-4 col-xl-2">
              <button class="btn">vyhledat</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="photogallery-section__inner">
      <div class="posts-slider__col">
        <figure class="posts-slider__item">
          <a
            data-gallery="1"
            data-gallery-id="1"
            href="#"
            class="posts-slider__img"
          >
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <span> {% include "@images/camera.svg" %}</span>
          </a>
          <div class="posts-slider__info">
            <div class="post__bottom-right">
              <div class="tag">ROZHOVOR</div>
              <span>ÚT 16. 8. 2022</span>
            </div>
            <div class="h4">Galerie duben 2023</div>
            <div class="post__bottom"></div>
          </div>
        </figure>
      </div>
      <div class="posts-slider__col">
        <figure class="posts-slider__item">
          <a
            data-gallery="1"
            data-gallery-id="1"
            href="#"
            class="posts-slider__img"
          >
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <span> {% include "@images/camera.svg" %}</span>
          </a>
          <div class="posts-slider__info">
            <div class="post__bottom-right">
              <div class="tag">ROZHOVOR</div>
              <span>ÚT 16. 8. 2022</span>
            </div>
            <div class="h4">Galerie duben 2023</div>
            <div class="post__bottom"></div>
          </div>
        </figure>
      </div>
      <div class="posts-slider__col">
        <figure class="posts-slider__item">
          <a
            data-gallery="1"
            data-gallery-id="1"
            href="#"
            class="posts-slider__img"
          >
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <span> {% include "@images/camera.svg" %}</span>
          </a>
          <div class="posts-slider__info">
            <div class="post__bottom-right">
              <div class="tag">ROZHOVOR</div>
              <span>ÚT 16. 8. 2022</span>
            </div>
            <div class="h4">Galerie duben 2023</div>
            <div class="post__bottom"></div>
          </div>
        </figure>
      </div>
      <div class="posts-slider__col">
        <figure class="posts-slider__item">
          <a
            data-gallery="1"
            data-gallery-id="1"
            href="#"
            class="posts-slider__img"
          >
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <span> {% include "@images/camera.svg" %}</span>
          </a>
          <div class="posts-slider__info">
            <div class="post__bottom-right">
              <div class="tag">ROZHOVOR</div>
              <span>ÚT 16. 8. 2022</span>
            </div>
            <div class="h4">Galerie duben 2023</div>
            <div class="post__bottom"></div>
          </div>
        </figure>
      </div>
      <div class="posts-slider__col">
        <figure class="posts-slider__item">
          <a
            data-gallery="1"
            data-gallery-id="1"
            href="#"
            class="posts-slider__img"
          >
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <span> {% include "@images/camera.svg" %}</span>
          </a>
          <div class="posts-slider__info">
            <div class="post__bottom-right">
              <div class="tag">ROZHOVOR</div>
              <span>ÚT 16. 8. 2022</span>
            </div>
            <div class="h4">Galerie duben 2023</div>
            <div class="post__bottom"></div>
          </div>
        </figure>
      </div>
      <div class="posts-slider__col">
        <figure class="posts-slider__item">
          <a
            data-gallery="1"
            data-gallery-id="1"
            href="#"
            class="posts-slider__img"
          >
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <span> {% include "@images/camera.svg" %}</span>
          </a>
          <div class="posts-slider__info">
            <div class="post__bottom-right">
              <div class="tag">ROZHOVOR</div>
              <span>ÚT 16. 8. 2022</span>
            </div>
            <div class="h4">Galerie duben 2023</div>
            <div class="post__bottom"></div>
          </div>
        </figure>
      </div>
      <div class="posts-slider__col">
        <figure class="posts-slider__item">
          <a
            data-gallery="1"
            data-gallery-id="1"
            href="#"
            class="posts-slider__img"
          >
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
            <span> {% include "@images/camera.svg" %}</span>
          </a>
          <div class="posts-slider__info">
            <div class="post__bottom-right">
              <div class="tag">ROZHOVOR</div>
              <span>ÚT 16. 8. 2022</span>
            </div>
            <div class="h4">Galerie duben 2023</div>
            <div class="post__bottom"></div>
          </div>
        </figure>
      </div>
    </div>
  </div>
</section>
