<section class="statistics-section">
   <div class="bg-white">
     <div class="container">
       <div class="matches-section__menu">
         <form action="" class="menu-section__form">
           <label class="o-select menu-section__label">
             <select class="js-select">
               <option>Liga 2021/2022</option>
               <option value="tipsport">2020/21</option>
               <option value="tipsport">2019/20</option>
               <option value="tipsport">2018/19</option>
               <option value="tipsport">2017/18</option>
             </select>
           </label>
         </form>
       
       </div>
     </div>
   </div>
   <div class="container">
     <div class="row mt-5">
       <div class="col-xl-8">
         <div class="match-content__statistics">
           <div class="o-content">
             <h3 class="mb-8 h3">Celková tabulka - 2.liga východ 2022/23</h3>
             <table>
               <thead>
                  <tr>
                     <th title='pořadí'>P</th>
                     <th title='klub'><a href='#' >klub</a></th>
                     <th title='zápasy'><a href='#' >Z</a></th>
                     <th title='vítězství'><a href='#' >V</a></th>
                     <th title='vítězství v prodloužení'><a href='#' >Vp</a></th>
                     <th title='remízy'><a href='#' >R</a></th>
                     <th title='prohry v prodloužení'><a href='#' >Pp</a></th>
                     <th title='prohry'><a href='#' >P</a></th>
                     <th  title='vstřelené branky'><a href='#' >VB</a></th>
                     <th  title='inkasované branky'   ><a href='#' >IB</a></th>
                     <th title='body'><a href='#' >B</a></th>
                     <th  title='rozdíl mezi vstřelenými a inkasovanými brankami'><a href='#' >RB</a></th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td >1.</td>
                     <td>Znojmo</a></td>
                     <td >40</td>
                     <td >35</td>
                     <td >2</td>
                     <td >0</td>
                     <td >2</td>
                     <td >1</td>
                     <td>226</td>
                     <td  >63</td>
                     <td  >111</td>
                     <td >+163</td>
                  </tr>
                  <tr>
                     <td >2.</td>
                     <td    >Vyškov</a></td>
                     <td >40</td>
                     <td >21</td>
                     <td >3</td>
                     <td >0</td>
                     <td >5</td>
                     <td >11</td>
                     <td  >179</td>
                     <td >136</td>
                     <td    >74</td>
                     <td >+43</td>
                  </tr>
                  <tr>
                     <td >1.</td>
                     <td>Znojmo</a></td>
                     <td >40</td>
                     <td >35</td>
                     <td >2</td>
                     <td >0</td>
                     <td >2</td>
                     <td >1</td>
                     <td>226</td>
                     <td  >63</td>
                     <td  >111</td>
                     <td >+163</td>
                  </tr>
                  <tr>
                     <td >2.</td>
                     <td    >Vyškov</a></td>
                     <td >40</td>
                     <td >21</td>
                     <td >3</td>
                     <td >0</td>
                     <td >5</td>
                     <td >11</td>
                     <td  >179</td>
                     <td >136</td>
                     <td    >74</td>
                     <td >+43</td>
                  </tr>
                  <tr>
                     <td >1.</td>
                     <td>Znojmo</a></td>
                     <td >40</td>
                     <td >35</td>
                     <td >2</td>
                     <td >0</td>
                     <td >2</td>
                     <td >1</td>
                     <td>226</td>
                     <td  >63</td>
                     <td  >111</td>
                     <td >+163</td>
                  </tr>
                  <tr>
                     <td >2.</td>
                     <td    >Vyškov</a></td>
                     <td >40</td>
                     <td >21</td>
                     <td >3</td>
                     <td >0</td>
                     <td >5</td>
                     <td >11</td>
                     <td  >179</td>
                     <td >136</td>
                     <td    >74</td>
                     <td >+43</td>
                  </tr>
               </tbody>
             </table>
 

  
 
 
 

 
             <h3 class="mb-8 h3">TABULKA DOMÁCÍCH ZÁPASŮ</h3>
             <table>
               <thead>
                  <tr>
                     <th title='pořadí'>P</th>
                     <th title='klub'><a href='#' >klub</a></th>
                     <th title='zápasy'><a href='#' >Z</a></th>
                     <th title='vítězství'><a href='#' >V</a></th>
                     <th title='vítězství v prodloužení'><a href='#' >Vp</a></th>
                     <th title='remízy'><a href='#' >R</a></th>
                     <th title='prohry v prodloužení'><a href='#' >Pp</a></th>
                     <th title='prohry'><a href='#' >P</a></th>
                     <th  title='vstřelené branky'><a href='#' >VB</a></th>
                     <th  title='inkasované branky'   ><a href='#' >IB</a></th>
                     <th title='body'><a href='#' >B</a></th>
                     <th  title='rozdíl mezi vstřelenými a inkasovanými brankami'><a href='#' >RB</a></th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td >1.</td>
                     <td>Znojmo</a></td>
                     <td >40</td>
                     <td >35</td>
                     <td >2</td>
                     <td >0</td>
                     <td >2</td>
                     <td >1</td>
                     <td>226</td>
                     <td  >63</td>
                     <td  >111</td>
                     <td >+163</td>
                  </tr>
                  <tr>
                     <td >2.</td>
                     <td    >Vyškov</a></td>
                     <td >40</td>
                     <td >21</td>
                     <td >3</td>
                     <td >0</td>
                     <td >5</td>
                     <td >11</td>
                     <td  >179</td>
                     <td >136</td>
                     <td    >74</td>
                     <td >+43</td>
                  </tr>
                  <tr>
                     <td >1.</td>
                     <td>Znojmo</a></td>
                     <td >40</td>
                     <td >35</td>
                     <td >2</td>
                     <td >0</td>
                     <td >2</td>
                     <td >1</td>
                     <td>226</td>
                     <td  >63</td>
                     <td  >111</td>
                     <td >+163</td>
                  </tr>
                  <tr>
                     <td >2.</td>
                     <td    >Vyškov</a></td>
                     <td >40</td>
                     <td >21</td>
                     <td >3</td>
                     <td >0</td>
                     <td >5</td>
                     <td >11</td>
                     <td  >179</td>
                     <td >136</td>
                     <td    >74</td>
                     <td >+43</td>
                  </tr>
                  <tr>
                     <td >1.</td>
                     <td>Znojmo</a></td>
                     <td >40</td>
                     <td >35</td>
                     <td >2</td>
                     <td >0</td>
                     <td >2</td>
                     <td >1</td>
                     <td>226</td>
                     <td  >63</td>
                     <td  >111</td>
                     <td >+163</td>
                  </tr>
                  <tr>
                     <td >2.</td>
                     <td    >Vyškov</a></td>
                     <td >40</td>
                     <td >21</td>
                     <td >3</td>
                     <td >0</td>
                     <td >5</td>
                     <td >11</td>
                     <td  >179</td>
                     <td >136</td>
                     <td    >74</td>
                     <td >+43</td>
                  </tr>
               </tbody>
             </table>
             
             <h3 class="mb-8 h3">TABULKA VENKOVNÍCH ZÁPASŮ</h3>
             <table>
               <thead>
                  <tr>
                     <th title='pořadí'>P</th>
                     <th title='klub'><a href='#' >klub</a></th>
                     <th title='zápasy'><a href='#' >Z</a></th>
                     <th title='vítězství'><a href='#' >V</a></th>
                     <th title='vítězství v prodloužení'><a href='#' >Vp</a></th>
                     <th title='remízy'><a href='#' >R</a></th>
                     <th title='prohry v prodloužení'><a href='#' >Pp</a></th>
                     <th title='prohry'><a href='#' >P</a></th>
                     <th  title='vstřelené branky'><a href='#' >VB</a></th>
                     <th  title='inkasované branky'   ><a href='#' >IB</a></th>
                     <th title='body'><a href='#' >B</a></th>
                     <th  title='rozdíl mezi vstřelenými a inkasovanými brankami'><a href='#' >RB</a></th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td >1.</td>
                     <td>Znojmo</a></td>
                     <td >40</td>
                     <td >35</td>
                     <td >2</td>
                     <td >0</td>
                     <td >2</td>
                     <td >1</td>
                     <td>226</td>
                     <td  >63</td>
                     <td  >111</td>
                     <td >+163</td>
                  </tr>
                  <tr>
                     <td >2.</td>
                     <td    >Vyškov</a></td>
                     <td >40</td>
                     <td >21</td>
                     <td >3</td>
                     <td >0</td>
                     <td >5</td>
                     <td >11</td>
                     <td  >179</td>
                     <td >136</td>
                     <td    >74</td>
                     <td >+43</td>
                  </tr>
                  <tr>
                     <td >1.</td>
                     <td>Znojmo</a></td>
                     <td >40</td>
                     <td >35</td>
                     <td >2</td>
                     <td >0</td>
                     <td >2</td>
                     <td >1</td>
                     <td>226</td>
                     <td  >63</td>
                     <td  >111</td>
                     <td >+163</td>
                  </tr>
                  <tr>
                     <td >2.</td>
                     <td    >Vyškov</a></td>
                     <td >40</td>
                     <td >21</td>
                     <td >3</td>
                     <td >0</td>
                     <td >5</td>
                     <td >11</td>
                     <td  >179</td>
                     <td >136</td>
                     <td    >74</td>
                     <td >+43</td>
                  </tr>
                  <tr>
                     <td >1.</td>
                     <td>Znojmo</a></td>
                     <td >40</td>
                     <td >35</td>
                     <td >2</td>
                     <td >0</td>
                     <td >2</td>
                     <td >1</td>
                     <td>226</td>
                     <td  >63</td>
                     <td  >111</td>
                     <td >+163</td>
                  </tr>
                  <tr>
                     <td >2.</td>
                     <td    >Vyškov</a></td>
                     <td >40</td>
                     <td >21</td>
                     <td >3</td>
                     <td >0</td>
                     <td >5</td>
                     <td >11</td>
                     <td  >179</td>
                     <td >136</td>
                     <td    >74</td>
                     <td >+43</td>
                  </tr>
               </tbody>
             </table>
             <h3 class="mb-8 h3">SOUČET - DOMÁCÍ VS. HOSTÉ</h3>
             <table>
               <thead>
                  <tr>
                     <th>&nbsp;</th>
                     <th>Z</th>
                     <th>V</th>
                     <th>Vp</th>
                     <th>R</th>
                     <th>Pp</th>
                     <th>P</th>
                     <th>VB</th>
                     <th>IB</th>
                     <th>B</th>
                     <th>+/-</th>
                  </tr>
             </thead>
               <tbody>
                  <tr>
                     <td><strong>Domácí týmy</strong></td>
                     <td>220</td>
                     <td>100</td>
                     <td>22</td>
                     <td>0</td>
                     <td>23</td>
                     <td>75</td>
                     <td>848</td>
                     <td>721</td>
                     <td>367</td>
                     <td>+127</td>
                  </tr>
                  <tr>
                     <td><strong>Domácí týmy</strong></td>
                     <td>220</td>
                     <td>100</td>
                     <td>22</td>
                     <td>0</td>
                     <td>23</td>
                     <td>75</td>
                     <td>848</td>
                     <td>721</td>
                     <td>367</td>
                     <td>+127</td>
                  </tr>
                  <tr>
                     <td><strong>Domácí týmy</strong></td>
                     <td>220</td>
                     <td>100</td>
                     <td>22</td>
                     <td>0</td>
                     <td>23</td>
                     <td>75</td>
                     <td>848</td>
                     <td>721</td>
                     <td>367</td>
                     <td>+127</td>
                  </tr>
               </tbody>
            </table>
           </div>
         </div>
       </div>
       {% include "@components/aside/aside-article.twig" %}
     </div>
   </div>
 </section>