.matches-section {
  &__inner {
    margin-top: 51px;
    margin-bottom: 60px;
    @include media-breakpoint-down(xl) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__menu {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
    padding-top: 18px;

    flex-wrap: wrap;
    justify-content: space-between;
    .menu-section__form {
      padding: 0 8px 18px;
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }
    &-list {
      display: flex;
      align-items: center;
      padding-bottom: 18px;
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
      li {
        padding: 0 8px;
        @include media-breakpoint-down(lg) {
          max-width: 33.333%;
          flex: 0 0 33.333%;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 290px;
          height: 50px;
          border: 1px solid #979797;
          border-radius: 6px;
          font-size: 16px;
          letter-spacing: 0.07px;
          line-height: 21px;
          text-align: center;
          font-weight: 800;
          background: var(--color-light);
          text-decoration: none;
          transition: all 0.3s;
          &:hover {
            color: var(--color-primary);
          }
          @include media-breakpoint-down(lg) {
            width: 100%;
          }
        }
        .active {
          background-color: var(--color-dark);
          color: var(--color-light);
          &:hover {
            color: var(--color-light);
          }
        }
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    margin-left: -4px;
    margin-right: -4px;
    list-style: none;
    margin-left: auto;
    max-width: 20%;
    flex: 0 0 20%;
    justify-content: flex-end;
    @include media-breakpoint-down(xl) {
      width: 100%;
      justify-content: center;
      margin-top: 24px;
      margin-left: 0;
      flex: 100%;
      max-width: 100%;
    }
    li {
      padding: 0 4px;
      a,
      div {
        font-size: 14px;
        letter-spacing: -0.14px;
        line-height: 19px;
        font-weight: 800;
        text-transform: uppercase;
        background-color: #f2f2f2;
        border-radius: 6px;
        transition: all 0.3s;
        padding: 4px 15px;
        text-decoration: none;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        img,
        svg {
          width: 18px;
          height: 18px;
          object-fit: contain;
          transition: all 0.2s;
          path {
            transition: all 0.3s;
          }
        }
        &:hover img {
          filter: brightness(0) invert(1);
        }
        &:hover {
          background-color: var(--color-primary);
          color: var(--color-light);
          path {
            fill: #fff !important;
          }
          svg {
            fill: #fff !important;
          }
        }
      }
    }
  }
  &__item {
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.09);
    border-radius: 6px;
    background-color: var(--color-light);
    margin-bottom: 12px;
    padding-top: 18px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    @include media-breakpoint-down(xl) {
      text-align: center;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 100%;
      flex: 100%;
    }
  }
  &__date {
    font-size: 14px;
    letter-spacing: -0.02px;
    line-height: 19px;
    text-align: left;
    font-weight: 800;
    color: #717171;
    max-width: 20%;
    flex: 0 0 20%;
    padding: 0 20px;
    @include media-breakpoint-down(xl) {
      flex: 100%;
      max-width: 100%;
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    max-width: 60%;
    flex: 0 0 60%;
    justify-content: center;
    @include media-breakpoint-down(xl) {
      padding-left: 0;
      flex: 100%;
      max-width: 100%;
      justify-content: center;
      margin-top: 16px;
    }
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }
  &__club {
    display: flex;
    align-items: center;
    max-width: 35%;
    flex: 0 0 35%;
    &:first-of-type {
      justify-content: flex-end;
    }
    @include media-breakpoint-down(md) {
      padding: 0 16px;
      margin-top: 16px;
      flex: 50%;
      max-width: 50%;
    }
    &.znojmo {
      color: var(--color-primary);
      text-transform: uppercase;
    }
    span {
      font-size: 18px;
      letter-spacing: -0.18px;
      line-height: 25px;
      text-align: right;
      padding: 0 16px;
      display: block;
      font-weight: 800;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    img {
      width: 60px;
      height: 60px;
      object-fit: contain;
    }
  }
  &__result {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -0.36px;
    line-height: 48px;
    text-align: center;
    width: 240px;
    padding: 0 32px;
    text-align: center;
    text-transform: uppercase;
    max-width: 30%;
    flex: 0 0 30%;
    a {
      text-decoration-color: transparent;
      transition: all 0.3s;
      width: 100%;
      text-align: center;
      display: block;
      &:hover {
        text-decoration-color: inherit;
      }
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      order: -1;
      flex: 100%;
      max-width: 100%;
    }
    span {
      font-size: 14px;
      letter-spacing: -0.14px;
      line-height: 19px;
      text-align: center;
      display: block;
      font-weight: 800;
      color: var(--color-dark);
      margin-top: 4px;
    }
  }
  &__result.win {
    color: var(--color-green);
  }
  &__result.lose {
    color: var(--color-primary);
  }

  &__result.win,
  &__result.lose {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -0.48px;
    line-height: 48px;
    text-align: center;
  }
}
