<section class="matches-section">
  <div class="bg-white">
    <div class="container">
      <div class="matches-section__menu">
        <form action="" class="menu-section__form">
          <label class="o-select menu-section__label">
            <select class="js-select">
              <option>Soupiska 2021/2022</option>
              <option value="tipsport">2020/21</option>
              <option value="tipsport">2019/20</option>
              <option value="tipsport">2018/19</option>
              <option value="tipsport">2017/18</option>
            </select>
          </label>
        </form>
        <ul class="matches-section__menu-list">
          <li>
            <a class="active" href="#">VŠE</a>
          </li>
          <li>
            <a class="" href="#">DOMA</a>
          </li>
          <li>
            <a class="" href="#">VENKU</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="matches-section__inner">
      <div class="matches-section__item">
        <div class="matches-section__date">1. kolo, pá 17. 9. 2021</div>
        <div class="matches-section__info">
          <div class="matches-section__club">
            <span>Val. Meziříčí</span>
            <img src="images/content/opa.png" alt="" />
          </div>
          <div class="matches-section__result win"><a href="#">0:6</a></div>
          <div class="matches-section__club znojmo">
            <img src="images/content/logo.png" alt="" />
            <span>Znojmo</span>
          </div>
        </div>
        <div class="matches-section__link">
          <li>
            <a href="#">
              <img src="images/content/onl.png" alt="" />
            </a>
          </li>
          <li>
            <a href="#">FOTOGALERIE</a>
          </li>

          <li>
            <a
              href="#"
              title="ONLINE"
              data-placement="top"
              data-toggle="tooltip"
            >
              <img src="images/ico/play.svg" alt="" />
            </a>
          </li>
        </div>
      </div>
      <div class="matches-section__item">
        <div class="matches-section__date">1. kolo, pá 17. 9. 2021</div>
        <div class="matches-section__info">
          <div class="matches-section__club znojmo">
            <span>znojmo</span>
            <img src="images/content/opa.png" alt="" />
          </div>
          <div class="matches-section__result win">
            <a href="#">3:2</a>
            <span>PO NÁJEZDECH</span>
          </div>
          <div class="matches-section__club">
            <img src="images/content/logo.png" alt="" />
            <span>Havl. Brod</span>
          </div>
        </div>
        <div class="matches-section__link">
          <li>
            <a href="#">
              <img src="images/content/onl.png" alt="" />
            </a>
          </li>
          <li>
            <a href="#">FOTOGALERIE</a>
          </li>

          <li>
            <a
              href="#"
              title="ONLINE"
              data-placement="top"
              data-toggle="tooltip"
            >
              <img src="images/ico/play.svg" alt="" />
            </a>
          </li>
        </div>
      </div>
      <div class="matches-section__item">
        <div class="matches-section__date">1. kolo, pá 17. 9. 2021</div>
        <div class="matches-section__info">
          <div class="matches-section__club">
            <span>Havl. Brod</span>
            <img src="images/content/opa.png" alt="" />
          </div>
          <div class="matches-section__result lose"><a href="#">7:0</a></div>
          <div class="matches-section__club znojmo">
            <img src="images/content/logo.png" alt="" />
            <span>Znojmo</span>
          </div>
        </div>
        <div class="matches-section__link">
          <li>
            <a href="#">
              <img src="images/content/onl.png" alt="" />
            </a>
          </li>
          <li></li>

          <li>
            <a
              href="#"
              title="ONLINE"
              data-placement="top"
              data-toggle="tooltip"
            >
              <img src="images/ico/play.svg" alt="" />
            </a>
          </li>
        </div>
      </div>
      <div class="matches-section__item">
        <div class="matches-section__date">1. kolo, pá 17. 9. 2021</div>
        <div class="matches-section__info">
          <div class="matches-section__club">
            <span>Žďár n. Sáz.</span>
            <img src="images/content/opa.png" alt="" />
          </div>
          <div class="matches-section__result">17:30</div>
          <div class="matches-section__club znojmo">
            <img src="images/content/logo.png" alt="" />
            <span>Znojmo</span>
          </div>
        </div>
        <div class="matches-section__link">
          <li>
            <a href="#">
              <img src="images/content/onl.png" alt="" />
            </a>
          </li>
        </div>
      </div>
      <div class="matches-section__item">
        <div class="matches-section__date">1. kolo, pá 17. 9. 2021</div>
        <div class="matches-section__info">
          <div class="matches-section__club">
            <span>Opava</span>
            <img src="images/content/opa.png" alt="" />
          </div>
          <div class="matches-section__result">ZRUŠENO</div>
          <div class="matches-section__club znojmo">
            <img src="images/content/logo.png" alt="" />
            <span>Znojmo</span>
          </div>
        </div>
      </div>
      <div class="matches-section__item">
        <div class="matches-section__date">1. kolo, pá 17. 9. 2021</div>
        <div class="matches-section__info">
          <div class="matches-section__club">
            <span>Opava</span>
            <img src="images/content/opa.png" alt="" />
          </div>
          <div class="matches-section__result win"><a href="#">89:6</a></div>
          <div class="matches-section__club znojmo">
            <img src="images/content/logo.png" alt="" />
            <span>Znojmo</span>
          </div>
        </div>
        <div class="matches-section__link">
          <li>
            <a href="#">
              <img src="images/content/onl.png" alt="" />
            </a>
          </li>
          <li>
            <a href="#">FOTOGALERIE</a>
          </li>

          <li>
            <a
              href="#"
              title="ONLINE"
              data-placement="top"
              data-toggle="tooltip"
            >
              <img src="images/ico/play.svg" alt="" />
            </a>
          </li>
        </div>
      </div>
    </div>
  </div>
</section>
