<section class="scoreboard-section">
  <div class="scoreboard">
    <div id="scoreboard_carousel">
      <div class="scoreboard__item">
        <div class="scoreboard__logo">
          <img src="images/content/sho.png" alt="" />
        </div>
        <div class="row">
          <div class="col-6">
            <div class="scoreboard__team">
              Znojmo<br />
              Kopřivnice
            </div>
          </div>
          <div class="col-6">
            <div class="scoreboard__date">
              <a class="lost" href="#">3:4<span>p</span></a>
            </div>
          </div>
          <div class="col-12">
            <div class="scoreboard__link">
              <a target="blank" href="#" title="">Online</a>
              <a href="#">Reportáž</a>
              <a
                class="img"
                data-gallery="1"
                data-gallery-id="914"
                href="#"
                title=""
                >Foto</a
              >
              <a href="#">VSTUPENKY</a>
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__logo">
          <img src="images/content/sho.png" alt="" />
        </div>
        <div class="row">
          <div class="col-6">
            <div class="scoreboard__team">
              Žďár n. Sáz.<br />
              Znojmo
            </div>
          </div>
          <div class="col-6">
            <div class="scoreboard__date">
              <a
                class="win"
                href="zapas.asp?id=Role-favorita-splnena-Orli-jasne-ovladli-duel-ve-Zdaru-nad-Sazavou-6193"
                >1:7<span></span
              ></a>
            </div>
          </div>
          <div class="col-12">
            <div class="scoreboard__link">
              <a
                target="blank"
                href="http://www.onlajny.com/match/index/id/386575"
                title=""
                >Online</a
              >
              <a
                href="zapas.asp?id=Role-favorita-splnena-Orli-jasne-ovladli-duel-ve-Zdaru-nad-Sazavou-6193"
                >Reportáž</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__logo">
          <img src="images/content/sho.png" alt="" />
        </div>
        <div class="row">
          <div class="col-6">
            <div class="scoreboard__team">
              Opava<br />
              Znojmo
            </div>
          </div>
          <div class="col-6">
            <div class="scoreboard__date">
              <a
                class="win"
                href="zapas.asp?id=Znojemsti-zlomili-odpor-Opavy-ve-treti-tretine-6194"
                >1:5<span></span
              ></a>
            </div>
          </div>
          <div class="col-12">
            <div class="scoreboard__link">
              <a
                target="blank"
                href="http://www.onlajny.com/match/index/id/386581"
                title=""
                >Online</a
              >
              <a
                href="zapas.asp?id=Znojemsti-zlomili-odpor-Opavy-ve-treti-tretine-6194"
                >Reportáž</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__logo">
          <img src="images/content/sho.png" alt="" />
        </div>
        <div class="row">
          <div class="col-6">
            <div class="scoreboard__team">
              Znojmo<br />
              Hodonín
            </div>
          </div>
          <div class="col-6">
            <div class="scoreboard__date">
              <a
                class="win"
                href="zapas.asp?id=Duel-s-Hodoninem-rozhodla-druha-tretina-6195"
                >4:2<span></span
              ></a>
            </div>
          </div>
          <div class="col-12">
            <div class="scoreboard__link">
              <a
                target="blank"
                href="http://www.onlajny.com/match/index/id/386585"
                title=""
                >Online</a
              >
              <a
                href="zapas.asp?id=Duel-s-Hodoninem-rozhodla-druha-tretina-6195"
                >Reportáž</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__logo">
          <img src="images/content/sho.png" alt="" />
        </div>
        <div class="row">
          <div class="col-6">
            <div class="scoreboard__team">
              Znojmo<br />
              Havířov
            </div>
          </div>
          <div class="col-6">
            <div class="scoreboard__date">
              <a
                class="win"
                href="zapas.asp?id=Osm-tref-vystrelilo-Znojmo-k-vitezstvi-6196"
                >8:3<span></span
              ></a>
            </div>
          </div>
          <div class="col-12">
            <div class="scoreboard__link">
              <a
                target="blank"
                href="http://www.onlajny.com/match/index/id/386592"
                title=""
                >Online</a
              >
              <a href="zapas.asp?id=Osm-tref-vystrelilo-Znojmo-k-vitezstvi-6196"
                >Reportáž</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__logo">
          <img src="images/content/sho.png" alt="" />
        </div>
        <div class="row">
          <div class="col-6">
            <div class="scoreboard__team">
              Val. Meziříčí<br />
              Znojmo
            </div>
          </div>
          <div class="col-6">
            <div class="scoreboard__date">
              so 10. 12.
              <br />17:00
            </div>
          </div>
          <div class="col-12">
            <div class="scoreboard__link">
              <a
                target="blank"
                href="http://www.onlajny.com/match/index/id/386598"
                title=""
                >Online</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__logo">
          <img src="images/content/sho.png" alt="" />
        </div>
        <div class="row">
          <div class="col-6">
            <div class="scoreboard__team">
              Znojmo<br />
              Havl. Brod
            </div>
          </div>
          <div class="col-6">
            <div class="scoreboard__date">
              st 14. 12.
              <br />18:00
            </div>
          </div>
          <div class="col-12">
            <div class="scoreboard__link">
              <a
                target="blank"
                href="http://www.onlajny.com/match/index/id/386605"
                title=""
                >Online</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__logo">
          <img src="images/content/sho.png" alt="" />
        </div>
        <div class="row">
          <div class="col-6">
            <div class="scoreboard__team">
              Znojmo<br />
              Nový Jičín
            </div>
          </div>
          <div class="col-6">
            <div class="scoreboard__date">
              so 17. 12.
              <br />17:30
            </div>
          </div>
          <div class="col-12">
            <div class="scoreboard__link">
              <a
                target="blank"
                href="http://www.onlajny.com/match/index/id/386609"
                title=""
                >Online</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__logo">
          <img src="images/content/sho.png" alt="" />
        </div>
        <div class="row">
          <div class="col-6">
            <div class="scoreboard__team">
              Velké Meziříčí<br />
              Znojmo
            </div>
          </div>
          <div class="col-6">
            <div class="scoreboard__date">
              st 4. 1.
              <br />&nbsp;
            </div>
          </div>
          <div class="col-12">
            <div class="scoreboard__link">
              <a
                target="blank"
                href="http://www.onlajny.com/match/index/id/386615"
                title=""
                >Online</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="scoreboard__item">
        <div class="scoreboard__logo">
          <img src="images/content/sho.png" alt="" />
        </div>
        <div class="row">
          <div class="col-6">
            <div class="scoreboard__team">
              Kopřivnice<br />
              Znojmo
            </div>
          </div>
          <div class="col-6">
            <div class="scoreboard__date">
              so 7. 1.
              <br />17:00
            </div>
          </div>
          <div class="col-12">
            <div class="scoreboard__link">
              <a
                target="blank"
                href="http://www.onlajny.com/match/index/id/386620"
                title=""
                >Online</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
