<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a href="#" class="footer__logo">
        <img src="images/content/logo.png" alt="" loading="lazy" />
      </a>
      <ul class="footer__social">
        <li>
          <a target="_blank" href="#"> {% include "@images/in.svg" %} </a>
        </li>
        <li>
          <a target="_blank" href="#"> {% include "@images/fb.svg" %} </a>
        </li>
        <li>
          <a target="_blank" href="#"> {% include "@images/youtube.svg" %} </a>
        </li>
        <li>
          <a target="_blank" href="#">
            {% include "@images/instagram.svg" %}
          </a>
        </li>
        <li>
          <a target="_blank" href="#"> {% include "@images/twitter.svg" %} </a>
        </li>
      </ul>
    </div>
    <div class="footer__message">
      POKUD MÁTE JAKÉKOLIV OTÁZKY, NEVÁHEJTE NÁS PROSÍM KONTAKTOVAT NA
      <a href="#">INFO@HCORLI.CZ</a>
    </div>

    <div class="footer__links">
      <div class="footer__col">
        <h6 class="h4">KLUB</h6>
        <ul>
          <li>
            <a target="_blank" href="#">Základní informace</a>
          </li>
          <li>
            <a target="_blank" href="#">Rozpis a pronájem ledu</a>
          </li>
          <li>
            <a target="_blank" href="#">Vedení klubu a kontakty</a>
          </li>
          <li>
            <a target="_blank" href="#">Media</a>
          </li>
          <li>
            <a target="_blank" href="#">Historie</a>
          </li>
          <li>
            <a target="_blank" href="#">GDPR</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h6 class="h4">TÝM</h6>
        <ul>
          <li>
            <a target="_blank" href="#">Soupiska</a>
          </li>
          <li>
            <a target="_blank" href="#">Statistiky</a>
          </li>
          <li>
            <a target="_blank" href="#">Realizační tým</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h6 class="h4">ZÁPASY</h6>
        <ul>
          <li>
            <a target="_blank" href="#">Liga</a>
          </li>
          <li>
            <a target="_blank" href="#">Příprava</a>
          </li>
          <li>
            <a target="_blank" href="#">Tabulka</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h6 class="h4">VSTUPENKY</h6>
        <ul>
          <li>
            <a target="_blank" href="#">Permanentky</a>
          </li>
          <li>
            <a target="_blank" href="#">Nevoga aréna</a>
          </li>
          <li>
            <a target="_blank" href="#">Návštěvní řád</a>
          </li>
          <li>
            <a target="_blank" href="#">VISTA restaurant</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h6 class="h4">MLÁDEŽ</h6>
        <ul>
          <li>
            <a target="_blank" href="#">Rozcestník mládeže</a>
          </li>
          <li>
            <a target="_blank" href="#">Informace a kontakt</a>
          </li>
          <li>
            <a target="_blank" href="#">Realizační týmy</a>
          </li>
          <li>
            <a target="_blank" href="#">Partneři mládeže</a>
          </li>
          <li>
            <a target="_blank" href="#">Nábor</a>
          </li>
          <li>
            <a target="_blank" href="#">Letní tábory</a>
          </li>
          <li>
            <a target="_blank" href="#">Klubový informační systém</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h6 class="h4">PARTNEŘI</h6>
        <ul>
          <li>
            <a target="_blank" href="#">Přehled partnerů</a>
          </li>
          <li>
            <a target="_blank" href="#">Hospitality partner</a>
          </li>
          <li>
            <a target="_blank" href="#">Ubytovací partner</a>
          </li>
          <li>
            <a target="_blank" href="#"> Nabídka pro partnery</a>
          </li>
          <li>
            <a target="_blank" href="#"> Partneři mládeže</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h6 class="h4">FANSHOP</h6>
        <ul>
          <li>
            <a target="_blank" href="#">Fotogalerie</a>
          </li>
          <li>
            <a target="_blank" href="#">Orlovize</a>
          </li>
          <li>
            <a target="_blank" href="#">Ptejte se</a>
          </li>
          <li>
            <a target="_blank" href="#">Fanclub</a>
          </li>
          <li>
            <a target="_blank" href="#">Ke stažení</a>
          </li>
          <li>
            <a target="_blank" href="#">Cheerleaders</a>
          </li>
          <li>
            <a target="_blank" href="#">Flame projektory</a>
          </li>
          <li>
            <a target="_blank" href="#">Aqualand Moravia dětský koutek</a>
          </li>
          <li>
            <a target="_blank" href="#">Masáže a broušení bruslí</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-partners">
      <div class="footer-partners__inner">
        <div class="footer-partners__col">
          <div class="footer-partners__col-item border-r6 bg-white">
            <div class="p3">GOLD PARTNEŘI</div>
            <ul class="row g-6 mb-6">
              <li class="col-md-4 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-1.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-md-4 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-2.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-md-4 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-3.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-md-4 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-4.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-md-4 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-5.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-md-4 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-5.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-md-4 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-1.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-md-4 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-2.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
            </ul>
            <div class="p3">Silver PARTNEŘI</div>
            <ul class="row g-6 mb-6">
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-1.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-2.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-3.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-4.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
            </ul>
            <div class="p3">Bronz PARTNEŘI</div>
            <ul class="row g-6 mb-6">
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-5.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-6.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-partners__col-big">
          <div class="footer-partners__col-item border-r6 bg-white">
            <div class="p3">GOLD Hlavní PARTNEŘI</div>
            <ul class="row justify-content-center g-6 mb-6">
              <li class="col-6 col-lg-5">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-5.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-6 col-lg-5">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-4.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
            </ul>
            <div class="p3">Hlavní PARTNEŘI</div>
            <ul class="row justify-content-center g-6 mb-6">
              <li class="col-6 col-xl-5">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-5.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-6 col-xl-5">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-6.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-6 col-xl-5">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-1.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-6 col-xl-5">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-4.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-partners__col border-r6 bg-white">
          <div class="footer-partners__col-item border-r6 bg-white">
            <div class="p3">Ubytovací a catering PARTNEŘI</div>
            <ul class="row g-6 mb-6">
              <li class="col-md-4 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-1.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-md-4 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-2.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-md-4 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-3.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
            </ul>
            <div class="p3">oficiální dopravci</div>
            <ul class="row g-6 mb-6">
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-1.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-2.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-3.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-4.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
            </ul>
            <div class="p3">mediální</div>
            <ul class="row g-6 mb-6">
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-1.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-2.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    src="images/content/partners/partner-3.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
              <li class="col-lg-3 col-4">
                <a href="#" class="w-100">
                  <img
                    class="w-100"
                    class="w-100"
                    src="images/content/partners/partner-4.png"
                    loading="lazy"
                    alt=""
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p>
        Copyright 2022 Orli Znojmo, s.r.o. &
        <a target="_blank" href="https://esportsmedia.cz/">eSports.cz</a>, s.r.o
      </p>
      <div>
        <a target="_blank" href="#"
          >Informace o autorských právech a kontakt na redakci.</a
        >
        <a target="_blank" href="#">Nastavení cookies</a>
      </div>
    </div>
  </div>
</footer>
