<div class="post">
  <a href="$" class="post__img">
    <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
  </a>
  <div class="post__info">
    <h5 class="h5">
      Skvělý start přípravy! Orli čtyřmi trefami pokořili Třebíč
    </h5>
    <p class="p2">
      Domácí Třebíč po cenných skalpech extraligových týmů Brna a Českých
      Budějovic narazila. Postarali se o to ve svém prvním přípravném utkání
      znojemští...
    </p>
    <div class="post__bottom">
      <a href="#" class="post__more"> ČÍST VÍCE </a>
      <div class="post__bottom-right">
        <div class="tag">ROZHOVOR</div>
        <span>ÚT 16. 8. 2022</span>
      </div>
    </div>
  </div>
</div>
