<section class="hp-list-section bg-white">
  <div class="container">
    <div class="row g-0 hp-list-section__inner">
      <div class="col-lg-6">
        <div class="hp-list__tickets">
          <div class="hp-list__ticket">
            <img src="images/content/pernamentka.png" loading="lazy" alt="" />
          </div>
          <div class="hp-list__tickets-box">
            <img src="images/content/led.jpg" loading="lazy" alt="" />
            <span>22/23</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hp-list__tickets-content">
          <h4 class="h1 mb-4">PERNAMENTKY</h4>
          <p class="text-primary mb-10">
            <strong>
              Prodej permanentních vstupenek na nadcházející druholigovou
              sezónu.
            </strong>
          </p>
          <p class="p3 mb-8">
            <strong>
              V pondělí 27. června startuje na internetu i v kancelářích klubu
              prodej permanentních vstupenek na nadcházející druholigovou
              sezónu. Ceny permanentek začínají na 1600 Kč.</strong
            >
          </p>
          <a href="#" class="btn btn-primary">VÍCE O PERNAMENTKÁCH</a>
        </div>
      </div>
    </div>
    <div class="row g-0 hp-list-section__inner flex-wrap-reverse">
      <div class="col-lg-6">
        <div class="hp-list__tickets-content">
          <h4 class="h1 mb-4">ROZPIS LEDU</h4>
          <p class="text-primary mb-10">
            <strong>
              Prodej permanentních vstupenek na nadcházející druholigovou
              sezónu.
            </strong>
          </p>
          <p class="p3 mb-8">
            <strong>
              V pondělí 27. června startuje na internetu i v kancelářích klubu
              prodej permanentních vstupenek na nadcházející druholigovou
              sezónu. Ceny permanentek začínají na 1600 Kč..</strong
            >
          </p>
          <a href="#" class="btn btn-primary">ZOBRAZIT ROZPIS LEDU</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hp-list__tickets">
          <div class="hp-list__tickets-box">
            <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
