<section class="hp-partners">
  <div class="container">
    <div class="hp-partners__title h1">PARTNEŘI</div>

    <div class="accordion js-accordion">
      <div class="accordion__item js-accordion-item">
        <div
          class="accordion-header accordion-header--main js-accordion-header"
        >
          PŘEHLED PARTNERŮ
        </div>
        <div class="accordion-body accordion-body--main js-accordion-body">
          <div class="accordion js-accordion">
            <div class="accordion__item js-accordion-item">
              <div class="accordion-header js-accordion-header">
                GOLD HLAVNI PARTNEŘI
              </div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                  <div class="h6 text-primary mb-10">GOLD HLAVNI PARTNEŘI</div>
                  <div class="row g-8">
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-2.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-3.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-4.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-5.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-6">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion__item js-accordion-item">
              <div class="accordion-header js-accordion-header">
                HLAVNÍ PARTNEŘI
              </div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                  <div class="h6 text-primary mb-10">HLAVNÍ PARTNEŘI</div>
                  <div class="row g-8">
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-2.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-3.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-4.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-5.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-6">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion__item js-accordion-item">
              <div class="accordion-header js-accordion-header">
                SILVER PARTNEŘI
              </div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                  <div class="h6 text-primary mb-10">SILVER PARTNEŘI</div>
                  <div class="row g-8">
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-2.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-3.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-4.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-5.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-6">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion__item js-accordion-item">
              <div class="accordion-header js-accordion-header">
                BRONZE PARTNEŘI
              </div>
              <div class="accordion-body js-accordion-body">
                <div class="accordion-body__contents">
                  <div class="h6 text-primary mb-10">BRONZE PARTNEŘI</div>
                  <div class="row g-8">
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-2.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-3.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-4.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-5.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-6">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                      <div class="hp-partners__item">
                        <div class="hp-partners__img mb-4">
                          <img
                            src="images/content/partners/partner-1.png"
                            loading="lazy"
                            alt=""
                          />
                        </div>
                        <div class="hp-partners__info">
                          <div class="h5 mb-6">
                            Lorem ipsum (zkráceně lipsum) je označení pro
                            standardní pseudolatinský text
                          </div>
                          <a href="#" class="btn">WEB</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion__item js-accordion-item">
        <div
          class="accordion-header accordion-header--main js-accordion-header"
        >
          Hospitality PARTNER
        </div>
        <div class="accordion-body accordion-body--main js-accordion-body">
          <div class="hp-partners__restaurant">
            <div class="hp-partners__restaurant-logo">
              <img src="images/content/restaurace.png" loading="lazy" alt="" />
            </div>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/gv38HVZ0U8Y"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <div class="o-content mb-8">
              <p>
                Zrekonstruovaná a znovu otevřená restaurace Vistagrill na zimním
                stadionu, v prostorách bývalého Sport baru, s kapacitou 80 míst
                a výhledem na ledovou plochu zimního stadionu, s nově
                vybudovaným přístup přímo ze zimního stadionu.
              </p>
              <p>
                Restaurace je specializovaná na grilovaná masa, servírovaná na
                jehlách. Všechna tato maso se připravují na speciálním grilu,
                který je jediný svého charakteru v České republice. Kromě
                grilovaných mas připravujeme také speciality zeleninové nebo
                ovocné. Součástí nabídky restaurace je i takzvané „Zážitkové
                menu“, kdy je servírováno více druhů mas připravovaných na různé
                způsoby.
              </p>
              <p>
                V restauraci je podáváno i denní menu, s polévkou servírovanou v
                terinách. Hosté mohou vybrat ze tří jídel a díky trendům ve
                zdravé výživě je jedno z jídel, připravováno ve stylu fitness
                menu.
              </p>
              <p>
                Poloha restaurace na zimním stadionu je ideální k zajištění
                stravování pro hostující oddíly. Na webových stránkách
                restaurace je možné si objednat skupinové menu. Více informací
                na www.vistagrill.cz a také na facebooku Vistagrill.
              </p>
              <p>
                Na jarní sezónu se připravuje zajímavý prostor s venkovním
                grilem, ve spodní části areálu, přímo vedle restaurace. Toto
                přírodní atrium s grilem bude určitě vyhledávaným místem, jak
                pro rodinné oslavy, tak pro firemní akce.
              </p>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <ul>
                  <li>VISTAGRILL RESTAURANT</li>
                  <li>Dvořákova 3602/17,</li>
                  <li>66902 Znojmo</li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul>
                  <li>VISTAGRILL RESTAURANT</li>
                  <li>Dvořákova 3602/17,</li>
                  <li>66902 Znojmo</li>
                </ul>
              </div>
              <div class="col-lg-4">
                <ul>
                  <li>restaurace / rezervace: 731 441 090</li>
                  <li>objednávky pro skupiny / firmy: 731 441 092</li>
                  <li>
                    <a href="maito:gato@gatoproduction.cz">
                      gato@gatoproduction.cz
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion__item js-accordion-item">
        <div
          class="accordion-header accordion-header--main js-accordion-header"
        >
          UBYTOVACÍ PARTNER
        </div>
        <div class="accordion-body accordion-body--main js-accordion-body">
          <div class="hp-partners__hotel bg-white">
            <div class="h2 text-primary mb-10">Ubytovací partner</div>
            <div class="o-content">
              <p>
                Hotel Savannah se nachází na hraničním přechodu Hatě, v těsné
                blízkosti středověkého města Znojma a jen 15 minut jízdy od
                sportovního stadionu Nevoga aréna ve Znojmě. Najdete zde nejen
                komfortní ubytování, ale i konferenční centrum, restauraci s
                vytříbenou kuchyní a úžasné Wellness & Spa centrum. Zkusit
                štěstí pak můžete v Casinu Route 59, které je s hotelem přímo
                propojeno. Podrobné informace o tomto úžasném hotelu naleznete
                na <a href="www.znojmo.twhotels.cz">www.znojmo.twhotels.cz</a>,
                kde naleznete i speciální pobytové balíčky.
              </p>
              <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
              <p>
                Hotel Savannah nabízí ubytování v 72 pokojích a 7 apartmá, které
                ocení jak rodiny s dětmi, tak nároční business hosté. V ceně
                ubytování je snídaně a neomezený vstup do hotelového Wellness &
                Spa centra, které je otevřené denně od 10:00 do 21:30 hodin a
                nabízí:
              </p>
              <ul>
                <li>Plavecký krytý bazén (22 x 8 metrů)</li>
                <li>Brouzdaliště pro děti</li>
                <li>Finská sauna</li>
                <li>Parní lázeň</li>
                <li>Fitness s částí pro kardio i silový trénink</li>
                <li>Masáže a relaxační procedury (za poplatek)</li>
                <li>Kosmetické procedury (za poplatek)</li>
                <li>Privátní whirlpool pro 1-6 osob (za poplatek)</li>
              </ul>
              <p>
                Hotel Savannah nabízí ubytování v 72 pokojích a 7 apartmá, které
                ocení jak rodiny s dětmi, tak nároční business hosté. V ceně
                ubytování je snídaně a neomezený vstup do hotelového Wellness &
                Spa centra, které je otevřené denně od 10:00 do 21:30 hodin a
                nabízí:
              </p>
              <p>
                Hotel Savannah nabízí ubytování v 72 pokojích a 7 apartmá, které
                ocení jak rodiny s dětmi, tak nároční business hosté. V ceně
                ubytování je snídaně a neomezený vstup do hotelového Wellness &
                Spa centra, které je otevřené denně od 10:00 do 21:30 hodin a
                nabízí:
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion__item js-accordion-item">
        <div
          class="accordion-header accordion-header--main js-accordion-header"
        >
          PARTNEŘI MLÁDEŽE
        </div>
        <div class="accordion-body accordion-body--main js-accordion-body">
          <div class="hp-partners__hotel bg-white">
            <div class="h2 text-primary mb-10">PARTNEŘI MLÁDEŽE</div>
            <div class="o-content">
              <p>
                Hotel Savannah se nachází na hraničním přechodu Hatě, v těsné
                blízkosti středověkého města Znojma a jen 15 minut jízdy od
                sportovního stadionu Nevoga aréna ve Znojmě. Najdete zde nejen
                komfortní ubytování, ale i konferenční centrum, restauraci s
                vytříbenou kuchyní a úžasné Wellness & Spa centrum. Zkusit
                štěstí pak můžete v Casinu Route 59, které je s hotelem přímo
                propojeno. Podrobné informace o tomto úžasném hotelu naleznete
                na <a href="www.znojmo.twhotels.cz">www.znojmo.twhotels.cz</a>,
                kde naleznete i speciální pobytové balíčky.
              </p>
              <img src="images/content/clanek.jpeg" loading="lazy" alt="" />
              <p>
                Hotel Savannah nabízí ubytování v 72 pokojích a 7 apartmá, které
                ocení jak rodiny s dětmi, tak nároční business hosté. V ceně
                ubytování je snídaně a neomezený vstup do hotelového Wellness &
                Spa centra, které je otevřené denně od 10:00 do 21:30 hodin a
                nabízí:
              </p>
              <ul>
                <li>Plavecký krytý bazén (22 x 8 metrů)</li>
                <li>Brouzdaliště pro děti</li>
                <li>Finská sauna</li>
                <li>Parní lázeň</li>
                <li>Fitness s částí pro kardio i silový trénink</li>
                <li>Masáže a relaxační procedury (za poplatek)</li>
                <li>Kosmetické procedury (za poplatek)</li>
                <li>Privátní whirlpool pro 1-6 osob (za poplatek)</li>
              </ul>
              <p>
                Hotel Savannah nabízí ubytování v 72 pokojích a 7 apartmá, které
                ocení jak rodiny s dětmi, tak nároční business hosté. V ceně
                ubytování je snídaně a neomezený vstup do hotelového Wellness &
                Spa centra, které je otevřené denně od 10:00 do 21:30 hodin a
                nabízí:
              </p>
              <p>
                Hotel Savannah nabízí ubytování v 72 pokojích a 7 apartmá, které
                ocení jak rodiny s dětmi, tak nároční business hosté. V ceně
                ubytování je snídaně a neomezený vstup do hotelového Wellness &
                Spa centra, které je otevřené denně od 10:00 do 21:30 hodin a
                nabízí:
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="btn">STAŇTE SE PARTNEREM</a>
  </div>
</section>
