{% extends "@components/base/base.twig" %} {% set title = "01.0_homepage" %} {%
block main %}

<div
  class="top-section hp-page"
  style="background-image: url('../build/images/content/clanek.jpeg')"
>
  {% include "@components/hp-match-section/hp-match-section.twig" %} {% include
  "@components/posts-slider/posts-slider.twig" %}
</div>
{% include "@components/hp-scoreboard/hp-scoreboard.twig" %} {% include
"@components/hp-infoboard/hp-infoboard.twig" %} {% include
"@components/hp-team/hp-team.twig" %} {% include
"@components/hp-list-section/hp-list-section.twig" %} {% include
"@components/hp-fanshop/hp-fanshop.twig" %} {% include
"@components/hp-partners/hp-partners.twig" %} {% include
"@components/hp-history/hp-history.twig" %} {% endblock %}
