{% extends "@components/base/base.twig" %} {% set title = "03.0_article" %} {%
block main %}

<div class="article-page">
  {% include "@components/scoreboard/scoreboard.twig" %} {% include
  "@components/article-section/article-section.twig" %}
</div>

{% endblock %}
