{% extends "@components/base/base.twig" %} {% set title = "04.0_team" %} {%
block main %}

<div
  class="top-section page"
  style="background-image: url('../build/images/content/clanek.jpeg')"
>
  <div class="container">
    <div class="page__header">
      <div class="page__header-categ">SOUPISKA</div>
      <h1 class="h1">Soupiska 2021/2022</h1>
    </div>
  </div>
</div>
{% include "@components/team-section/team-section.twig" %} {% endblock %}
