{% extends "@components/base/base.twig" %} {% set title = "05.0_matches" %} {%
block main %}

<div
  class="top-section page"
  style="background-image: url('../images/content/clanek.jpeg')"
>
  <div class="container">
    <div class="page__header">
      <div class="page__header-categ">ZÁPASY</div>
      <h1 class="h1">bet-at-home ICE Hockey League 2021/22</h1>
    </div>
  </div>
</div>
{% include "@components/matches-section/matches-section.twig" %} {% endblock %}
