{% extends "@components/base/base.twig" %} {% set title = "07.0_archive" %} {%
block main %}

<div
  class="top-section page"
  style="background-image: url('../build/images/content/clanek.jpeg')"
>
  <div class="container">
    <div class="page__header">
      <div class="page__header-categ">Archiv</div>
      <h1 class="h1">Archiv 2021/22</h1>
    </div>
  </div>
</div>
{% include "@components/archive-section/archive-section.twig" %} {% endblock %}
