{% extends "@components/base/base.twig" %} {% set title = "08.0_statistics" %}
{% block main %}

<div
  class="top-section page"
  style="background-image: url('../build/images/content/clanek.jpeg')"
>
  <div class="container">
    <div class="page__header">
      <div class="page__header-categ">Statistiky</div>
      <h1 class="h1">Statistiky 2. liga 2022/23 - play off</h1>
    </div>
  </div>
</div>
{% include "@components/statistics-section/statistics-section.twig" %} {%
endblock %}
