{% extends "@components/base/base.twig" %} {% set title = "09.0_table" %} {%
block main %}

<div
  class="top-section page"
  style="background-image: url('../build/images/content/clanek.jpeg')"
>
  <div class="container">
    <div class="page__header">
      <div class="page__header-categ">Tabulka</div>
      <h1 class="h1">Tabulka 2022/23</h1>
    </div>
  </div>
</div>
{% include "@components/table-section/table-section.twig" %} {% endblock %}
