{% extends "@components/base/base.twig" %} {% set title = "10.0_partners" %} {%
block main %}

<div
  class="top-section page"
  style="background-image: url('../build/images/content/clanek.jpeg')"
>
  <div class="container">
    <div class="page__header">
      <div class="page__header-categ"></div>
      <h1 class="h1">Partneři</h1>
    </div>
  </div>
</div>
{% include "@components/partners-section/partners-section.twig" %}


  {% endblock %}
