{% extends "@components/base/base.twig" %} {% set title = "12.0_static" %} {%
block main %}

<div class="article-page">
  {% include "@components/scoreboard/scoreboard.twig" %}

  <section class="article-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-8">
          <div class="article-section__inner">
            <div class="article-section__header">
              <h1 class="h2">Základní informace</h1>
            </div>

            <div class="o-content pb-10">
              <table>
                <tbody>
                  <tr>
                    <td class="item" valign="top">Adresa:</td>
                    <td>
                      ORLI ZNOJMO, s.r.o.<br />
                      Dvořákova 2922/16<br />
                      669 02 Znojmo
                    </td>
                  </tr>
                  <tr>
                    <td class="item">IČO:</td>
                    <td>28341511</td>
                  </tr>
                  <tr>
                    <td class="item">DIČ:</td>
                    <td>CZ28341511</td>
                  </tr>
                  <tr>
                    <td class="item">Telefon:</td>
                    <td>+420 602 121 669</td>
                  </tr>
                  <tr>
                    <td class="item">Fax:</td>
                    <td>+420 515 221 011</td>
                  </tr>
                  <tr>
                    <td class="item">E-mail:</td>
                    <td>
                      <a class="mail" href="mailto:info@hcorli.cz"
                        >info@hcorli.cz</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td class="item">Internet:</td>
                    <td>
                      <a href="../">www.hcorli.cz</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="item">Klubové barvy:</td>
                    <td>červená, bílá, černá</td>
                  </tr>
                  <tr>
                    <td class="item">Klub založen:</td>
                    <td>V roce 1933 jako TJ Sokol Znojmo.</td>
                  </tr>
                  <tr>
                    <td class="item" valign="top">Změny názvu:</td>
                    <td>
                      SK Agropodnik Znojmo, HC Excalibur Znojemští orli, HC JME
                      Znojemští orli, HC ZNOJEMŠTÍ ORLI, a.s., ORLI ZNOJMO s.r.o
                      (6.5.2009)
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <aside class="aside">
            <div class="aside-wrapper">
              <div class="item-list">
                <div class="item-list__item">
                  <h3 class="h3">AKTUÁLNÍ ČLÁNKY</h3>
                  <div class="tag">Fotografie</div>
                  <a
                    class="aside-pub"
                    href="/article/7447-FOTO-Orli-polykaji-prvni-metry-na-lede"
                  >
                    <img src="./images/content/bb.jpeg" alt="" loading="lazy" />
                  </a>
                  <div class="item-list__label">po 31. 7. 2023</div>
                  <a
                    href="/article/7447-FOTO-Orli-polykaji-prvni-metry-na-lede"
                    class="h6"
                    >FOTO: Orli polykají první metry na ledě</a
                  >
                </div>
                <div class="item-list__item">
                  <div class="item-list__label">čt 20. 7. 2023</div>
                  <a
                    href="/article/7446-Urostly-seversky-viking-do-Znojma-Orly-posiluje-Anton-Karlsson"
                    class="h6"
                    >Urostlý severský viking do Znojma! Orly posiluje Anton
                    Karlsson</a
                  >
                </div>
                <div class="item-list__item">
                  <div class="item-list__label">út 4. 7. 2023</div>
                  <a
                    href="/article/7445-Hokejove-Znojmo-mam-v-srdci-vzpomina-Karel-Plasek"
                    class="h6"
                    >Hokejové Znojmo mám v srdci, vzpomíná Karel Plášek</a
                  >
                </div>
                <div class="item-list__item">
                  <div class="item-list__label">ne 2. 7. 2023</div>
                  <a
                    href="/article/7444-Roman-Durny-Na-silnou-konkurenci-jsem-zvykly-"
                    class="h6"
                    >Roman Durný: Na silnou konkurenci jsem zvyklý
                  </a>
                </div>
                <div class="item-list__item">
                  <div class="item-list__label">pá 30. 6. 2023</div>
                  <a
                    href="/article/7442-Akce-byla-super-za-pozvani-jsem-moc-rad-rika-Ondrej-Kacetl-------------------------------"
                    class="h6"
                    >Akce byla super, za pozvání jsem moc rád, říká Ondřej
                    Kacetl
                  </a>
                </div>
              </div>
              <a href="/archiv" class="post__more">ČÍST VÍCE</a>
            </div>
            <div class="aside-wrapper">
              <h3 class="h3 mb-8">V TENTO DEN PŘED LETY</h3>
              <div class="item-list">
                <div class="item-list__item">
                  <div class="item-list__label">pá 4. 8. 2017</div>
                  <a
                    href="/article/5988-Tomas-Halasz-Po-nabidce-Orlu-jsem-hned-skocil-Na-EBEL-jsem-nateseny"
                    class="h6"
                    >Tomáš Halász: Po nabídce Orlů jsem hned skočil. Na EBEL
                    jsem natěšený</a
                  >
                </div>
                <div class="item-list__item">
                  <div class="item-list__label">čt 4. 8. 2016</div>
                  <a
                    href="/article/5610-Konec-cekani-hokej-je-zpet-Znojemske-hokejisty-otestuji-extraligove-Vitkovice"
                    class="h6"
                    >Konec čekání, hokej je zpět! Znojemské hokejisty otestují
                    extraligové Vítkovice</a
                  >
                </div>
                <div class="item-list__item">
                  <div class="item-list__label">po 4. 8. 2014</div>
                  <a
                    href="/article/4731-Cekani-je-u-konce-Do-Znojma-prijede-tradicni-rival-z-Jihlavy"
                    class="h6"
                    >Čekání je u konce! Do Znojma přijede tradiční rival z
                    Jihlavy</a
                  >
                </div>
              </div>
              <a href="/archiv" class="post__more">ČÍST VÍCE</a>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
