{% extends "@components/base/base.twig" %} {% set title = "14.0_questions" %} {%
block main %}

<div class="article-page">
  {% include "@components/scoreboard/scoreboard.twig" %}

  <section class="offline-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-8">
          <div class="article-section__inner">
            <div class="article-section__header">
              <h1 class="h2">Ptejte se - Colton Yellow Horn</h1>
            </div>

            <div class="o-content pb-5">
              <div class="offline">
                <div class="offline__header">
                  <div class="row">
                    <div class="col-12 col-sm-9">
                      <div class="offline__name">Honza</div>
                    </div>
                    <div class="col-12 col-sm-3">
                      <div class="offline__date">16. 12. 2015, 17:09</div>
                    </div>
                  </div>
                </div>
                <div class="offline__comment">
                  Čau Coltone,<br />
                  Určitě seš rád, že máš konečně v týmu krajana Coryho Trivina.
                  Už jsi mu ukázal naše krásný město? Doufám, že se netrhnete od
                  ostatních a budete se dál bavit se všema klukama v kabině.
                  Nechtěl bys ho přemluvit, aby taky udělal rozhovor stejně jako
                  teď ty?<!-- IP adresa:194.213.237.83 -->
                  <br /><Br /><b>Odpověď:</b><bR /> Ahoj, je dobré, že je tu se
                  mnou další Kanaďan, i když jsem Coreyho předtím neznal. Určitě
                  se od ostatních netrhneme, občas spolu vyrážíme na jídlo nebo
                  do kina, teď jen budeme mít o jednoho člověka navíc.
                </div>
                <div class="offline__header">
                  <div class="row">
                    <div class="col-12 col-sm-9">
                      <div class="offline__name">Franta</div>
                    </div>
                    <div class="col-12 col-sm-3">
                      <div class="offline__date">17. 11. 2015, 23:37</div>
                    </div>
                  </div>
                </div>
                <div class="offline__comment">
                  Ahoj Coltone,<br />
                  Chtěl jsem se zeptat co říkáš na znojemské fanoušky? Zažil si
                  něco podobného při domácích zápasech? Říká se, že jsou
                  nejlepší v lize, jak by jsi to posoudil ty? Děkuji za odpověď,
                  jinak Ti přeji hodně štěstí, hlavně zdraví a ať se tě drží
                  přesná muška dlouho. :)<!-- IP adresa:212.96.160.51 -->
                  <br /><Br /><b>Odpověď:</b><bR /> Ahoj, měl jsem to štěstí, že
                  jsem v kariéře hrál v místech, kde fanoušků chodilo hodně a
                  měli jsme často vyprodáno. Fandění tady je trochu jiné, je
                  neuvěřitelné, že fanoušci tady ve Znojmě dokáží povzbuzovat
                  celý zápas, s pokřiky, bubny a vším. Hodně mi to připomnělo
                  fotbal. Když jsem ho poprvé viděl, měl jsem z toho podobný
                  dojem.
                </div>
                <div class="offline__header">
                  <div class="row">
                    <div class="col-12 col-sm-9">
                      <div class="offline__name">Sobito</div>
                    </div>
                    <div class="col-12 col-sm-3">
                      <div class="offline__date">17. 11. 2015, 22:12</div>
                    </div>
                  </div>
                </div>
                <div class="offline__comment">
                  Čau ptal si se na překlady některých popěvky fanoušků, případě
                  který se ti líbí? Po domácím zápase se salcburk si po první
                  třetině odcházel do kabiny vcelku naštvaný se slovy ”fucking
                  joke”, co tě tak vzalo? Dík a ať se daří<!-- IP adresa:46.135.37.254 -->
                  <br /><Br /><b>Odpověď:</b><bR /> Ahoj, popravdě jsem se na
                  překlad nikdy neptal, ale jsem rád, že nás podporují. Dává mi
                  to motivaci. Na "fucking joke" si už nepamatuju :) Díky za
                  přání.
                </div>
                <div class="offline__header">
                  <div class="row">
                    <div class="col-12 col-sm-9">
                      <div class="offline__name">Tom</div>
                    </div>
                    <div class="col-12 col-sm-3">
                      <div class="offline__date">16. 11. 2015, 17:46</div>
                    </div>
                  </div>
                </div>
                <div class="offline__comment">
                  Ahoj Coltone, už máš nějaká oblíbená místa ve Znojmě? Máš
                  sebou i přítelkyni,nebo jsi tu sám? A jaké máš hokejové cíle?
                  Doufám,že vydržíš ve Znojmě co nejdéle! :)<!-- IP adresa:193.165.145.218 -->
                  <br /><Br /><b>Odpověď:</b><bR /> Ahoj, většinu volného času
                  trávím sám, ale občas třeba zajdu k Luboši Štachovi a jeho
                  přítelkyni na večeři. Je to skvělý pár, hodně mi pomáhají. Teď
                  když je tu Corey Trivino, trávím víc času i s ním.
                </div>
                <div class="offline__header">
                  <div class="row">
                    <div class="col-12 col-sm-9">
                      <div class="offline__name">Petr</div>
                    </div>
                    <div class="col-12 col-sm-3">
                      <div class="offline__date">13. 11. 2015, 21:22</div>
                    </div>
                  </div>
                </div>
                <div class="offline__comment">
                  Ahoj Coltone,mam jen dvě otázky jaký je Peter Pucher jako
                  člověk? A kdo je největší bavič v kabině? Ať se daří, měj se.<!-- IP adresa:88.102.104.152 -->
                  <br /><Br /><b>Odpověď:</b><bR /> Ahoj, je to znojemská
                  legenda. Je to jeden z nejlépe přihrávajících hráčů, se
                  kterými jsem hrál, a je obdivuhodné, že v takovém věku je v
                  takové kondici. Je trošku jako Jaromír Jágr, pořád sbírá body
                  :) V kabině asi mladí kluci - Špaček a Csamango. Hlavně, když
                  sedí vedle sebe.
                </div>
                <div class="offline__header">
                  <div class="row">
                    <div class="col-12 col-sm-9">
                      <div class="offline__name">
                        petr.61 (<a href="mailto:petr.61@post.cz"
                          >petr.61@post.cz</a
                        >)
                      </div>
                    </div>
                    <div class="col-12 col-sm-3">
                      <div class="offline__date">12. 11. 2015, 12:49</div>
                    </div>
                  </div>
                </div>
                <div class="offline__comment">
                  Na kterém stadioně v EBEL se ti hraje dobře a který ti
                  nesedne.<br />
                  Díky za odpověď. Fakt jsi dobréj hráč.<!-- IP adresa:62.245.74.92 -->
                  <br /><Br /><b>Odpověď:</b><bR /> Nejlépe se mi hraje určitě
                  ve Znojmě, je to domácí stadion, jsem tu často. Nejhůř asi v
                  Grazu, nechodí tam lidi, není tam žádná atmosféra.
                </div>
                <div class="offline__header">
                  <div class="row">
                    <div class="col-12 col-sm-9">
                      <div class="offline__name">jardujager</div>
                    </div>
                    <div class="col-12 col-sm-3">
                      <div class="offline__date">12. 11. 2015, 11:38</div>
                    </div>
                  </div>
                </div>
                <div class="offline__comment">
                  ahoj Colton indiánov mám rád od dob Vinetua a doktroky Majky
                  Quinové kde bol indian Tancujuci oblak . Pozeral si taky na
                  doktorku Quinovou? či dajaký česky film? at sa ti v Znojme
                  darí si super hokejista! Miloš a Dušan<!-- IP adresa:109.105.43.21 -->
                  <br /><Br /><b>Odpověď:</b><bR /> Ahoj, doktorku Quinnovou
                  neznám a podobně jsem na tom s českými filmy. Díky za přání!
                </div>
                <div class="offline__header">
                  <div class="row">
                    <div class="col-12 col-sm-9">
                      <div class="offline__name">josta</div>
                    </div>
                    <div class="col-12 col-sm-3">
                      <div class="offline__date">9. 11. 2015, 22:21</div>
                    </div>
                  </div>
                </div>
                <div class="offline__comment">
                  Hi Yellow Horn,<br />
                  je skvělé, že jste u nás ve Znojmě. Mám několik dotazů:<br />
                  1. Kdo patřil k Vašim hokejovým vzorům? Tipuji Gretzky.<br />
                  2. Prozraďte prosím některá známá jména dřívějších Vašich
                  spoluhráčů.<br />
                  3. Tomáš Vokoun rád vzpomínal na působení v Predators
                  Nashville s Jordin Tootoo. Zejména na kuchařské speciality
                  maminky Tootoo, např. polévku z velryby. Jaké Vy máte oblíbené
                  Vaše národní jídlo?<br />
                  4. V japonské lize také působil Rick Jackman. To je hodně
                  dobrý hráč. On byl dříve v Sapa Fehervar. Znáte se?<br />
                  Ať se Vám daří. Hodně dobré zdraví a hodně ětěstí. Good Luck
                  ana Happy<!-- IP adresa:85.71.132.249 -->
                  <br /><Br /><b>Odpověď:</b><bR /> Ahoj,<br />
                  1) Wayne Gretzky, Mario Lemieux, Pavel Bure.<br />
                  2) Nejslavnější spoluhráč je současně asi Carey Price.<br />
                  3) Miluju steaky, ale nemyslím si, že Kanada má nějaké národní
                  jídlo. Hodně to záleží na tom, v jaké části země žijete. O
                  polévce z velryby jsem slyšel, ale nikdy jsem ji nezkusil.<br />
                  4) S Rickem jsme velcí kamarádi. Neznali jsme se před angažmá
                  v Maďarsku, ale od té doby jsme pravidelně v kontaktu. I
                  letos, kdy on hraje v Anglii a já tady.
                </div>
                <div class="offline__header">
                  <div class="row">
                    <div class="col-12 col-sm-9">
                      <div class="offline__name">
                        Oťas (<a href="mailto:otakardostal@seznam.cz"
                          >otakardostal@seznam.cz</a
                        >)
                      </div>
                    </div>
                    <div class="col-12 col-sm-3">
                      <div class="offline__date">9. 11. 2015, 20:33</div>
                    </div>
                  </div>
                </div>
                <div class="offline__comment">
                  Ahoj Coltone,<br />
                  jak jsi se dostal k angažmá ve Znojmě ?<br />
                  Hraješ skvěle, tak ať se daří.<!-- IP adresa:88.101.102.8 -->
                  <br /><Br /><b>Odpověď:</b><bR /> Ahoj, myslím, že to bylo
                  docela standardní. Kontaktoval mě můj agent, který komunikoval
                  s majitelem klubu tady ve Znojmě. Díky za přání.
                </div>
                <div class="offline__header">
                  <div class="row">
                    <div class="col-12 col-sm-9">
                      <div class="offline__name">Terka</div>
                    </div>
                    <div class="col-12 col-sm-3">
                      <div class="offline__date">4. 11. 2015, 11:12</div>
                    </div>
                  </div>
                </div>
                <div class="offline__comment">
                  Ahoj,jak se ti líbí ve Znojmě?Jsi tu spokojený?<!-- IP adresa:80.95.113.233 -->
                  <br /><Br /><b>Odpověď:</b><bR /> Ahoj, líbí se mi tu, díky.
                </div>
              </div>
            </div>
            <nav aria-label="Další stránky">
              <ul
                class="pagination d-flex flex-wrap pagination-flat pagination-success"
              >
                <li class="page-item active">
                  <a class="page-link" href="#" data-abc="true">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" data-abc="true">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" data-abc="true">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" data-abc="true">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" data-abc="true"> »</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-xl-4">
          <aside class="aside">
            <div class="aside-wrapper">
              <div class="item-list">
                <div class="item-list__item">
                  <h3 class="h3">AKTUÁLNÍ ČLÁNKY</h3>
                  <div class="tag">Fotografie</div>
                  <a
                    class="aside-pub"
                    href="/article/7447-FOTO-Orli-polykaji-prvni-metry-na-lede"
                  >
                    <img
                      src="/image?file=https://hcorli.cz/foto_zno/prvni_trenink_na_lede/DSC_0937.JPG&w=336&h=176&exact=1&topcut=0&format=jpg"
                      loading="lazy"
                      alt=""
                    />
                  </a>
                  <div class="item-list__label">po 31. 7. 2023</div>
                  <a
                    href="/article/7447-FOTO-Orli-polykaji-prvni-metry-na-lede"
                    class="h6"
                    >FOTO: Orli polykají první metry na ledě</a
                  >
                </div>
                <div class="item-list__item">
                  <div class="item-list__label">čt 20. 7. 2023</div>
                  <a
                    href="/article/7446-Urostly-seversky-viking-do-Znojma-Orly-posiluje-Anton-Karlsson"
                    class="h6"
                    >Urostlý severský viking do Znojma! Orly posiluje Anton
                    Karlsson</a
                  >
                </div>
                <div class="item-list__item">
                  <div class="item-list__label">út 4. 7. 2023</div>
                  <a
                    href="/article/7445-Hokejove-Znojmo-mam-v-srdci-vzpomina-Karel-Plasek"
                    class="h6"
                    >Hokejové Znojmo mám v srdci, vzpomíná Karel Plášek</a
                  >
                </div>
                <div class="item-list__item">
                  <div class="item-list__label">ne 2. 7. 2023</div>
                  <a
                    href="/article/7444-Roman-Durny-Na-silnou-konkurenci-jsem-zvykly-"
                    class="h6"
                    >Roman Durný: Na silnou konkurenci jsem zvyklý
                  </a>
                </div>
                <div class="item-list__item">
                  <div class="item-list__label">pá 30. 6. 2023</div>
                  <a
                    href="/article/7442-Akce-byla-super-za-pozvani-jsem-moc-rad-rika-Ondrej-Kacetl-------------------------------"
                    class="h6"
                    >Akce byla super, za pozvání jsem moc rád, říká Ondřej
                    Kacetl
                  </a>
                </div>
              </div>
              <a href="/archiv" class="post__more">ČÍST VÍCE</a>
            </div>
            <div class="aside-wrapper">
              <h3 class="h3 mb-8">V TENTO DEN PŘED LETY</h3>
              <div class="item-list">
                <div class="item-list__item">
                  <div class="item-list__label">pá 4. 8. 2017</div>
                  <a
                    href="/article/5988-Tomas-Halasz-Po-nabidce-Orlu-jsem-hned-skocil-Na-EBEL-jsem-nateseny"
                    class="h6"
                    >Tomáš Halász: Po nabídce Orlů jsem hned skočil. Na EBEL
                    jsem natěšený</a
                  >
                </div>
                <div class="item-list__item">
                  <div class="item-list__label">čt 4. 8. 2016</div>
                  <a
                    href="/article/5610-Konec-cekani-hokej-je-zpet-Znojemske-hokejisty-otestuji-extraligove-Vitkovice"
                    class="h6"
                    >Konec čekání, hokej je zpět! Znojemské hokejisty otestují
                    extraligové Vítkovice</a
                  >
                </div>
                <div class="item-list__item">
                  <div class="item-list__label">po 4. 8. 2014</div>
                  <a
                    href="/article/4731-Cekani-je-u-konce-Do-Znojma-prijede-tradicni-rival-z-Jihlavy"
                    class="h6"
                    >Čekání je u konce! Do Znojma přijede tradiční rival z
                    Jihlavy</a
                  >
                </div>
              </div>
              <a href="/archiv" class="post__more">ČÍST VÍCE</a>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
